<app-header></app-header>


<div class="container-fluid" style="padding-top: 10vh">
    <div class="container py-5">
        <div class="container-fluid">

            <div>
                <h2 class="fw-bold text-center">Política de Privacidad</h2>
                <p class="text-center"><em>¡Gracias por usar ReservaTuGrass!
                    </em> </p>

                <p><Strong>Reserva Tu Grass</Strong> es una plataforma online que se dedica a ayudarte a reservar
                    (ususario)
                    u ofrecer (empresa)cancha deportiva,
                    para
                    esto necesitamos saber de ti mediante datos que obtenemos cuando navegas por nuestra web
                    o cuando se te requieran específicamente.
                    <br>
                    <br>
                    Para que tengas plena seguridad sobre qué datos obtenemos, cómo lo hacemos y para qué lo
                    hacemos, hemos redactado esta <em>Política de Privacidad</em>. Algunos términos pueden ser muy
                    técnicos por lo que, cualquier duda, estamos dispuestos a resolverla. Al final encontrarás nuestro
                    correo de contacto para dudas y consultas.
                    <br><br>
                    Para este documento, cuando usamos los términos “nos”, “nosotros”, “nuestra”, “nuestros” o nos
                    expresemos en primera persona, nos referimos a <em>ReservaTuGrass en general</em>.
                </p>
            </div>

            <div class="mt-4">
                <h5 class="fw-bold">Objetivo y Finalidad</h5>
                <p>El objetivo de este documento es afirmar y demostrar a los usuarios de nuestros servicios que
                    en ReservaTuGrass asumimos el compromiso de respetar la privacidad y proteger la confidencialidad de
                    toda información privada y datos personales. <br> <br>
                    Además, indicaremos la manera en que recolectamos los datos y para qué lo hacemos, así como
                    la seguridad que tomamos para que estos datos estén protegidos.
                </p>
            </div>

            <div class="mt-4">
                <h5 class="fw-bold">¿Qué información recopilamos?</h5>
                <p>
                    La información que obtenemos cuando te registras en nuestra web es la siguiente:
                </p>
                <em>Datos personales:</em>
                <ul>
                    <li>Nombres</li>
                    <li>Ciudad</li>
                    <li>Correo electrónico</li>
                    <li>Teléfono</li>
                </ul>

                <em>
                    Si eres un usuario que ofrece canchas de grass en nuestra plataforma,
                    recopilaremos los siguientes datos:
                </em>
                <ul>
                    <li>Nombre del grass</li>
                    <li>Dirección</li>
                    <li>Correo electrónico</li>
                    <li>Teléfono</li>
                    <li>Región</li>
                    <li>Provincia</li>
                    <li>Distrito</li>
                    <li>Ubicación</li>
                </ul>

                <p>
                    Al momento de proporcionar los datos solicitados (<em>creación de cuenta</em>), se te solicitará
                    aceptar la Política de Privacidad de ReservaTuGrass y se te informará que tu información personal se
                    compartirá con la empresa de grass a quien le estas reservando la cancha.
                </p>

                <em>
                    En resumen: Te indicamos qué datos estamos recopilando de manera detallada. Algunos son
                    datos estadísticos y de navegación que no te identifican personalmente; otros son datos
                    personales que deberás proporcionar al registrarte como usuario en ReservaTuGrass.
                </em>
            </div>

            <div class="mt-4">
                <h5 class="fw-bold"> Calidad de los Datos Personales</h5>
                <p>
                    Los datos personales a los que ReservaTuGrass tendrá acceso serán aquellos que facilites
                    voluntariamente rellenando los formularios puestos a tal efecto. <br> <br>
                    Los datos personales tienen que ser exactos y correctos de forma que respondan con veracidad
                    a su situación actual. En caso contrario estos datos serán cancelados y cualquier proceso que
                    se esté llevando a cabo será anulado e invalidado. <br> <br>
                    <em> <strong>Nota:</strong> La información que nos brindas al registrarte debe ser real, verdadera y
                        actualizada.
                        En ReservaTuGass tomaremos las medidas necesarias si descubrimos que se han ingresado datos que
                        no cumplen con estos requisitos.</em>
                </p>
            </div>

            <div class="mt-4">
                <h5 class="fw-bold"> ¿Para qué solicitamos información personal?</h5>
                <em>Utilizamos tus datos personales para las siguientes finalidades: </em>
                <ul>
                    <li>Atender el registro del usuario y brindar soporte técnico.</li>
                    <li>Verificar y validar la identidad del usuario.</li>
                    <li>Dar respuesta a las consultas, peticiones y otro tipo de información que se realice a través
                        de nuestros canales de comunicación y poder facilitar cualquier información que ReservaTuGrass
                        crea que puede ser de interés de sus usuarios.</li>
                    <li>Comunicar información relevante para el usuario, tanto a nivel comercial, como marketing
                        o referente a las prestaciones del servicio que brindamos.</li>
                    <li>Atender quejas, reclamos o sugerencias.</li>
                    <li>Transferir la Información recopilada a través de la plataforma ReservaTuGrass a las empresas de
                        grass que ofrecen canchas de grass en la plataforma.</li>
                    <li>Analizar la información de navegación, pago y comportamiento de los usuarios para
                        mejorar la seguridad en la plataforma de ReservaTuGrass.</li>
                    <li>Almacenar la Información del Usuario en servicios de almacenamiento en la nube en el
                        extranjero. Ello resulta indispensable para poder prestarle el servicio a través de la
                        plataforma.</li>
                </ul>
            </div>

            <div class="mt-4">
                <h5 class="fw-bold"> Transferencia de Datos Personales a Terceros</h5>
                <p>ReservaTuGrass respeta tu privacidad y no comparte información con terceros a menos de que sea
                    necesario para llevar a cabo la gestión, desarrollo y ejecución de la reserva de grass a
                    través de la plataforma. En dichos casos, tus datos personales pueden ser transferidos a las
                    siguientes entidades:</p>
                <ul>
                    <li>Empresas de grass los cuales se asiste o se han realizado reservas de la cancha deportiva. La
                        información que se transfiere obligatoriamente es la mínima indispensable
                        para la prestación del servicio adquirido. La identidad de cada empresa se encontrará
                        a tu disposición durante la reserva de cancha deportiva, donde podrás visualizar los datos de
                        identificación y qué información adicional necesita para poder
                        brindar sus servicios, teniendo la opción de aceptar o rechazar la reserva.
                        Toda información adicional solicitada por los organizadores en el momento de la reserva,
                        es de responsabilidad de los mismos.</li>
                    <li>En caso seas la empresa que ofrece sus canchas deportivas en nuestra plataforma, los datos de
                        la empresa que representas o en caso de ser persona natural, son compartidos de manera
                        obligatoria con
                        los usuarios que así lo requieran. Estos datos se pueden mostrar expresamente en la
                        página web (Cards del grass), en los tickets de reserva mostradoss a los usuarios en su perfil,
                        y en general en todos los medios que
                        muestren contenido de ReservaTuGrass. Lo anterior es necesario para generar confianza en los
                        usuarios.</li>
                    <li>Asimismo, tus datos personales podrán ser comunicados por transferencia a las
                        entidades administrativas, autoridades judiciales y/o policiales, siempre y cuando este
                        establecido por Ley o por mandato judicial.
                    </li>
                </ul>
            </div>

            <div class="mt-4">
                <h5 class="fw-bold"> Conversión de los Datos Personales</h5>
                <p>La información recopilada por RerservaTuGrass será almacenada mientras dure la relación contractual o
                    la finalidad para la cual los datos han sido recopilados. En todo caso, el titular del
                    dato
                    personal tiene el derecho a revocar su consentimiento en cualquier momento.</p>
                <em><strong>Nota:</strong> Guardamos los datos porque te brindamos un servicio. Puedes solicitar en
                    cualquier momento que ya no guardemos tus datos.
                </em>
            </div>

            <div class="mt-4">
                <h5 class="fw-bold"> Confidencialidad de los Datos Personales</h5>
                <p>Los datos personales que facilites serán tratados con total confidencialidad y sólo podrán ser
                    conocidos y manejados por el personal de ReservaTuGrass que necesiten conocer dicha información para
                    realizar las labores comprendidas en las finalidades descritas anteriormente. ReservaTuGrass se
                    compromete a guardar secreto profesional permanente e indefinidamente respecto de los
                    mismos y garantiza el deber de guardarlos adoptando todas las medidas de seguridad
                    necesarias.</p>

                <em><strong>Nota:</strong> Nos comprometemos a mantener la confidencialidad de tus datos. No lo
                    compartimos con nadie, salvo con tu aceptación.
                </em>

            </div>

            <div class="mt-4">
                <h5 class="fw-bold"> Seguridad de los Datos Personales</h5>
                <p>En cumplimiento de la normativa vigente ReservaTuGrass ha adoptado las medidas técnicas y
                    organizativas de seguridad de los datos personales, con el objetivo de evitar la alteración, pérdida
                    o el tratamiento o acceso no autorizados que puedan afectar a la integridad, confidencialidad y
                    disponibilidad de la información, teniendo en cuenta el estado de la tecnología, la naturaleza de
                    los datos almacenados y los riesgos a que están expuestos, ya sea que provengan de la acción
                    humana, del medio físico o natural, tal y como establece la legislación peruana vigente de
                    protección de datos personales. <br> <br>
                    Para garantizar estándares internacionales de seguridad en navegación web y manejo de datos
                    privados, ReservaTuGrass maneja las transacciones comerciales en su web mediante un entorno de
                    servidor seguro bajo protocolo SSL (Secure Socket Layer). También tenemos implementadas
                    medidas de seguridad adicionales para reforzar la confidencialidad e integridad de la información
                    y continuamente mantenemos la supervisión, control y evaluación de los procesos para asegurar
                    la privacidad de los datos personales. <br> <br>
                    Sin embargo, la transmisión de información mediante las redes de comunicación y de Internet no
                    es totalmente segura; por eso, y a pesar de que realizamos nuestros mejores esfuerzos para
                    proteger los datos personales, no podemos garantizar la seguridad de los mismos durante el
                    tránsito hasta el sitio web. En tal sentido, toda la información que los usuarios proporcionen, se
                    enviará por su cuenta y riesgo.
                    Es por ello que recomendamos la máxima diligencia a nuestros usuarios cuando trasladen a
                    terceros o publiquen información personal para evitar poner en riesgo sus datos personales,
                    eludiendo ReservaTuGrass toda responsabilidad en caso de sustracciones, modificaciones o pérdidas de
                    datos ilícitas.</p>
            </div>

            <div class="mt-4">
                <h5 class="fw-bold"> Menores de Edad</h5>
                <p>Entendemos la importancia de proteger la privacidad de menores de edad, especialmente en un entorno
                    online. Por este motivo, nuestra plataforma no está diseñada ni dirigida para que menores de
                    edad (menores de 18 años) realicen transacciones a través de la misma. Sin embargo, no
                    tenemos ninguna forma de validar que los datos ingresados sean de una persona mayor de edad,
                    por lo que no nos hacemos responsables de las acciones de los usuarios en la plataforma que
                    han declarado erróneamente ser mayores de edad. <br> <br>
                    Por otro lado, para el caso de las personas mayores de 14 años y menores de 18 años, la normativa
                    de datos personales establece que dichas personas pueden otorgar su consentimiento de
                    manera personal, salvo aquellos casos no permitido por ley o cuando se trate de bienes o
                    servicios restringidos para mayores de edad.
                </p>
            </div>

            <div class="mt-4">
                <h5 class="fw-bold"> Concentimiento</h5>
                <p>Al aceptar la presente Política de Privacidad, indicas estar de acuerdo con todos los aspectos
                    expuestos en este documento y nos autorizas a tratar tus datos de carácter personal para las
                    finalidades expuestas anteriormente.

                    <em><strong>Nota:</strong> Para utilizar nuestros servicios debes aceptar nuestra Política de
                        Privacidad. Si no
                        estás de acuerdo con algún punto, por favor, no hagas uso de nuestros servicios.</em>
                </p>
            </div>

            <div class="mt-4">
                <h5 class="fw-bold"> Ejercicio de Derecho ARCO</h5>
                <p>
                    Los derechos ARCO (Acceso, Rectificación, Cancelación y Oposición) son el conjunto de
                    derechos a través de los cuales la Ley N° 29733, Ley de Protección de Datos Personales,
                    garantiza a las personas el poder de control sobre sus datos personales. <br> <br>
                    Estos sirven para que puedas: acceder a tu información en nuestras bases de datos, rectificar
                    estos datos, eliminar tus datos de nuestra base de datos y oponerte a que tus datos se usen si
                    descubres que están siendo usados para un fin no descrito en este documento. <br> <br>
                    Debes tener en cuenta que no podrás solicitar la eliminación de tus datos personales si aún
                    tienes una relación activa con ReservaTuGrass o con los organizadores, ya sea comercial o de
                    servicios
                    y si tu intención expresa es de consumir los servicios de ReservaTuGrass. <br> <br>
                    Los usuarios que nos hayan facilitado sus datos personales pueden comunicarse con nosotros,
                    con el fin de poder ejercer sus derechos de información, de acceso, de actualización, inclusión,
                    rectificación y supresión; de impedir el suministro de sus datos personales, de oposición al
                    tratamiento o de tratamiento objetivo de los datos, en los términos recogidos en la legislación
                    peruana vigente.
                </p>
            </div>


            <div class="mt-4">
                <h5 class="fw-bold"> Otros</h5>
                <p>
                    Para realizar cualquier tipo de consulta respecto a la política de privacidad puedes escribirnos a
                    la siguiente
                    dirección de correo electrónico <a href="mailto: info.reservatugrass@gmail.com">
                        info.reservatugrass@gmail.com</a> .
                </p>
            </div>

            <div class="mt-4">
                <h5 class="fw-bold"> Vigencia y Modificación del Presente Política de Privacidad</h5>
                <p>
                    <strong>ReservaTuGrass</strong> se reserva el derecho a modificar su Política de Privacidad en el
                    supuesto de que exista
                    un cambio en la legislación vigente, doctrinal, jurisprudencial o por criterios propios
                    empresariales. Si se introdujera algún cambio en esta política, el nuevo texto se publicará y se
                    solicitará tu conformidad con dichos cambios..
                </p>
            </div>

            <div class="mt-4">
                <em>Última actualización: 28 de enero del 2024</em>

            </div>







        </div>

    </div>
</div>



<app-footer></app-footer>