/* You can add global styles to this file, and also import other style files */
/* Ysabeau */
*{
    font-family: 'Ysabeau';
    font-size: 1.05rem;
}

::selection {
    background-color: #20c997;
    color: #fff;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(228, 228, 228);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(195, 195, 195);
    border-radius: 3px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

@font-face {
    font-family: 'Ysabeau';
    src: url('../src/fonts/YsabeauOffice-Regular.ttf');
    src: local('../src/fonts/YsabeauOffice-Regular'),
        url('fonts/YsabeauOffice-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ysabeau';
    src: url('../src/fonts/YsabeauOffice-Bold.ttf');
    src: local('../src/fonts/YsabeauOffice-Bold'),
        url('fonts/YsabeauOffice-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Ysabeau';
    src: url('../src/fonts/YsabeauOffice-Italic.ttf');
    src: local('../src/fonts/YsabeauOffice-Italic'),
        url('fonts/YsabeauOffice-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Ysabeau';
    src: url('../src/fonts/YsabeauOffice-BoldItalic.ttf');
    src: local('../src/fonts/YsabeauOffice-BoldItalic'),
        url('fonts/YsabeauOffice-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Ysabeau';
    src: url('../src/fonts/YsabeauOffice-ExtraLightItalic.ttf');
    src: local('../src/fonts/YsabeauOffice-ExtraLightItalic'),
        url('fonts/YsabeauOffice-ExtraLightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Ysabeau';
    src: url('../src/fonts/YsabeauOffice-ExtraLight.ttf');
    src: local('../src/fonts/YsabeauOffice-ExtraLight'),
        url('fonts/YsabeauOffice-ExtraLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}