/* You can add global styles to this file, and also import other style files */
/* Ysabeau */
*{
    font-family: 'LTMSans';
}

::selection {
    background-color: #20c997;
    color: #fff;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(228, 228, 228);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(195, 195, 195);
    border-radius: 3px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

@font-face {
    font-family: 'LTMSans';
    src: url('../src/fonts/LatamSans-Regular.ttf');
    src: local('../src/fonts/LatamSans-Regular'),
        url('fonts/LatamSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LTMSans';
    src: url('../src/fonts/LatamSans-Bold.ttf');
    src: local('../src/fonts/LatamSans-Bold'),
        url('fonts/LatamSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'LTMSans';
    src: url('../src/fonts/LatamSans-RegularItalic.ttf');
    src: local('../src/fonts/LatamSans-RegularItalic'),
        url('fonts/LatamSans-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'LTMSans';
    src: url('../src/fonts/LatamSans-BoldItalic.ttf');
    src: local('../src/fonts/LatamSans-BoldItalic'),
        url('fonts/LatamSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'LTMSans';
    src: url('../src/fonts/LatamSans-LightItalic.ttf');
    src: local('../src/fonts/LatamSans-LightItalic'),
        url('fonts/LatamSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'LTMSans';
    src: url('../src/fonts/LatamSans-Light.ttf');
    src: local('../src/fonts/LatamSans-Light'),
        url('fonts/LatamSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}