<app-nav></app-nav>


<div class="container py-4">
    <app-sidebar></app-sidebar>

    <div class="shadow rounded mt-5 p-4">
        <h3 class="text-center fw-bold" style="color:rgb(6, 170, 115)">
            Inicio
        </h3>

        <!-- Dashboard -->
    <div class="row mb-5 text-center">

        <div class="my-3">
            <h4 class="fw-bold">Cantidad de reservaciones</h4>
            <h1> {{count_ventas}} </h1>
        </div>

        <div class="col-12">
            <h3>Dashboard</h3>
        </div>

        <div class="col-12 col-sm-6 mt-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h6 class="text-muted mb-2">
                                Mes actual
                            </h6>
                            <span class="h5 mb-0">
                                S/. {{total_mes}} &nbsp;
                            </span>

                            <small class="text-success mb-0" *ngIf="total_mes - total_mes_anterior > 0">
                                + {{(total_mes - total_mes_anterior)*100/total_mes | number}}%
                                <i class="bi bi-arrow-up"></i>
                            </small>

                            <small class="text-danger mb-0" *ngIf="total_mes - total_mes_anterior < 0">
                                {{(total_mes - total_mes_anterior)*100/total_mes | number}}%
                                <i class="bi bi-arrow-down"></i>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 mt-3">
            <div class="">
                <div class="card">
                    <div class="card-body">
                        <div class="row gx-0">
                            <div class="col">
                                <h6 class="text-muted mb-2">
                                    Mes anterior
                                </h6>
                                <span class="h5 mb-0">
                                    S/. {{total_mes_anterior}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card shadow mb-5" style="border: none;">
        <div style="background-color: rgb(248, 237, 255);">
            <div class="card-header text-center">
                <h5 class="fw-bold" style="margin-bottom: 0px; color: rgb(111, 66, 192);">Ingresos por mes</h5>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <canvas id="MyChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>

