<app-header></app-header>
<div class="container-fluid" style="padding-top: 10vh">
    <!-- sobre nosotros -->
    <div>
        <h4 class="card-title text-center fw-bold">Sobre Nosotros</h4>

        <p class="card-text" style="text-align: justify; padding: 4vh 2vh 0vh 0vh;">En <strong>ReservaTuGrass</strong>,
            estamos
            apasionados por el deporte y comprometidos con hacer que jugar sea más accesible y
            conveniente que nunca. Somos un equipo de entusiastas del deporte que se ha unido para crear una plataforma
            única que conecta a las empresas que ofrecen canchas con los usuarios ávidos de acción
            deportiva. </p>
    </div>

    <!-- mision -->
    <div class="card mb-3 mt-5"
        style="max-width: 100%; border: 2px solid rgb(197, 81, 48); background-color: rgba(240, 128, 128, 0.110);">

        <div class="row g-0 mb-2 mt-2">
            <div class="col-md-4 px-3 py-3">
            </div>
            <div class="col-md-8 d-flex align-items-center justify-content-center">
                <div class="card-body">
                    <h5 class="card-title text-center fw-bold">Misión</h5>
                    <p class="card-text" style="text-align: justify; padding: 2vh 2vh 0vh 0vh;">
                        Facilitar el acceso a las mejores instalaciones
                        deportivas y fomentar la pasión por el deporte en cada rincón de nuestra comunidad. Creemos en
                        la importancia del juego, la competencia amistosa y la camaradería que se genera en torno a un
                        deporte.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- vision -->
    <div class="card mb-3 mt-5"
        style="max-width: 100%; border: 2px solid rgb(18, 128, 144); background-color: rgba(32, 178, 171, 0.110);">
        <div class="row g-0 mb-2 mt-2">
            <div class="col-md-8 d-flex align-items-center justify-content-center">
                <div class="card-body">
                    <h5 class="card-title text-center fw-bold">Visión</h5>
                    <p class="card-text" style="text-align: justify; padding: 2vh 2vh 0vh 0vh;">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio necessitatibus, inventore
                        dolores omnis nobis maxime, consequuntur non dignissimos amet quaerat ea odit sit architecto
                        nihil voluptatem accusantium dolorem quos debitis.</p>
                </div>
            </div>
            <div class="col-md-4 px-3 py-3">

            </div>
        </div>
    </div>

    <!-- Lo que hacemos -->
    <div class="mt-5">
        <h4 class="card-title text-center fw-bold">Lo que hacemos</h4>

        <p class="card-text" style="text-align: justify; padding: 4vh 2vh 0vh 0vh;">Ofrecemos una plataforma intuitiva
            que permite a los amantes del fútbol y del vóley, encontrar y reservar canchas de manera rápida y sencilla.
            Trabajamos incansablemente para establecer asociaciones con las mejores empresas de instalaciones
            deportivas, asegurando que nuestros usuarios tengan acceso a lugares de primera calidad.</p>
    </div>

    <!-- nuestra comunidad -->
    <div class="mt-5">
        <h4 class="card-title text-center fw-bold">Nuestra comunidad deportiva</h4>

        <p class="card-text" style="text-align: justify; padding: 4vh 2vh 0vh 0vh;">Sabemos que el deporte es más que
            solo el juego en sí; es una forma de vida. Por eso, alentamos a nuestra creciente comunidad a conectarse,
            organizar partidos, compartir historias y fomentar el espíritu deportivo. Juntos, estamos construyendo una
            red apasionada de jugadores y amantes del deporte.</p>
    </div>
</div>


<app-footer></app-footer>