<app-header></app-header>

<div class="container-fluid" style="padding-top: 10vh">

    <div class="">
        <div class="row g-0">
            <div class="col-12 col-sm-1"></div>
            <div class="col-sm-7 d-flex align-items-center ">
                <div class="card-body">
                    <figure class="text-end ">
                        <blockquote class="blockquote">
                            <p>Somos una plataforma que conecta a las empresas que ofrecen canchas con los
                                usuarios amantes del deporte</p>
                        </blockquote>
                        <figcaption class="blockquote-footer">
                            Apasionados y comprometidos con hacer que <cite title="Source Title">jugar sea más
                                accesible</cite>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-sm-3 d-none d-sm-block ">
                <img src="../../../../assets/img/1.png" class="img-fluid rounded-start" alt="imagen nosotros">
            </div>
            <div class="col-12 col-sm-1"></div>
        </div>
    </div>

    <div class="container py-5">
        <div class="container-fluid">

            <!-- sobre nosotros -->
            <div class="row mb-5">
                <div class="col-12 col-sm-2"></div>
                <div class="col-12 col-sm-8">
                    <h4 class="card-title text-center fw-bold">Sobre Nosotros</h4>
                    <p class="card-text" style="text-align: justify; padding: 2vh 2vh 0vh 0vh;">En
                        <strong>ReservaTuGrass</strong>,
                        estamos
                        apasionados por el deporte y somos un equipo de entusiastas que se ha unido para crear una
                        plataforma
                        única que conecta a las empresas que ofrecen canchas de grass con los usuarios ávidos de acción
                        deportiva.
                    </p>
                </div>
                <div class="col-12 col-sm-2"></div>
            </div>

            <!-- mision -->
            <div class="row">
                <div class="col-12 col-sm-2"></div>

                <div class="col-12 col-sm-8">
                    <div class="card mb-3">
                        <img src="../../../../assets/img/image-mision.jpg" class="card-img-top" alt="imagen mision">
                        <div class="card-body">
                            <h5 class="card-title text-center fw-bold">Nuestra Misión</h5>
                            <p class="card-text" style="text-align: justify; padding: 2vh 2vh 0vh 0vh;">
                                Facilitar el acceso a las mejores instalaciones
                                deportivas y fomentar la pasión por el deporte en cada rincón de nuestra comunidad.
                                Creemos
                                en
                                la importancia del juego, la competencia amistosa y la camaradería que se genera en
                                torno a
                                un
                                deporte.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-2"></div>

            </div>


            <!-- Lo que hacemos -->
            <div class="row mt-3 mb-5">
                <div class="col-12 col-sm-2"></div>
                <div class="col-12 col-sm-8">
                    <h4 class="card-title text-center fw-bold">Lo que hacemos</h4>

                    <p class="card-text" style="text-align: justify; padding: 2vh 2vh 0vh 0vh;">Ofrecemos una plataforma
                        intuitiva
                        que permite a los amantes del fútbol y del vóley, encontrar y reservar canchas de manera rápida
                        y
                        sencilla.
                        Trabajamos incansablemente para establecer asociaciones con las mejores empresas de
                        instalaciones
                        deportivas, asegurando que nuestros usuarios tengan acceso a lugares de primera calidad.</p>
                </div>
                <div class="col-12 col-sm-2"></div>
            </div>

            <!-- nuestra comunidad -->
            <div class="row mt-3 mb-5">
                <div class="col-12 col-sm-2"></div>
                <div class="col-12 col-sm-8">
                    <h4 class="card-title text-center fw-bold">Nuestra comunidad deportiva</h4>

                    <p class="card-text" style="text-align: justify; padding: 2vh 2vh 0vh 0vh;">Sabemos que el deporte
                        es
                        más
                        que
                        solo el juego en sí; es una forma de vida. Por eso, alentamos a nuestra creciente comunidad a
                        conectarse,
                        organizar partidos, compartir historias y fomentar el espíritu deportivo. Juntos, estamos
                        construyendo
                        una
                        red apasionada de jugadores y amantes del deporte.</p>
                </div>
                <div class="col-12 col-sm-2"></div>
            </div>

        </div>
    </div>







    <app-footer></app-footer>