<app-nav></app-nav>

<div class="container py-4">
    <app-sidebar></app-sidebar>

    <div class="card shadow mt-4" style="border-color: #F8F8F8;">
        <h3 class="card-header text-center">
            <a [routerLink]="['/grass/cuentas']">
                <i class="text-info bi bi-arrow-left"></i>
            </a> &nbsp; <span style="color:rgb(6, 170, 115)">
                Registrar cuenta
            </span>
        </h3>

        <div class="card-body">
            <form #registroForm="ngForm" (ngSubmit)="registro(registroForm)">
                <div class="row">
                    <div class="col-6 mt-3">
                        <label for="banco" class="form-label">Banco</label>
                        <select id="banco" class="form-select" name="banco" [(ngModel)]="cuenta.banco" (ngModelChange)="onBancoChange()" required>
                          <option value="" selected disabled>Seleccionar</option>
                          <option value="{{item}}" *ngFor="let item of bancos"> {{item}} </option>
                        </select>
                      </div>
                    <div class="col-6 mt-3">
                        <label for="titular" class="form-label">Nombre del titular</label>
                        <input class="form-control" type="text" id="titular" name="titular" [(ngModel)]="cuenta.titular"
                            placeholder="Ingrese nombre del titular" required />
                    </div>
                    <div class="col-md-4 mt-3">
                        <label for="cuenta" class="form-label">N° 
                            <span *ngIf="esCuenta">Cuenta</span>
                            <span *ngIf="!esCuenta">Celular</span>
                        </label>
                        <input class="form-control" type="text" id="cuenta" name="cuenta" [(ngModel)]="cuenta.cuenta"
                            placeholder="Número de cuenta" min="0" maxlength="{{limiteCuenta}}" required />
                    </div>

                    <div class="col-md-4 mt-3" *ngIf="esCuenta">
                        <label for="cci" class="form-label">CCI</label>
                        <input class="form-control" type="text" id="cci" name="cci" [(ngModel)]="cuenta.cci"
                            placeholder="CCI" min="0" />
                    </div>
                    <div class="col-md-4 mt-3">
                        <label for="color-input" class="form-label">Color de fondo &nbsp;</label>
                        <input class="form-control form-control-color" type="color" id="color-input"
                            value="{{cuenta.color}}" name="color" [(ngModel)]="cuenta.color" required disabled>
                    </div>
                </div>

                <div class="text-center mt-3">
                    <button class="btn btn-primary mx-2 bi-plus-circle-fill" type="submit"
                        [disabled]="registroForm.invalid" *ngIf="!load_btn"> &nbsp; Crear cuenta
                    </button>

                    <!-- Button with growing spinner and text -->
                    <button *ngIf="load_btn" type="button" class="btn btn-secondary" disabled>
                        <span class="spinner-grow spinner-grow-sm me-2" role="status" aria-hidden="true"></span>
                        Creando...
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>