#input-img {
  display: none; /* Oculta el input predeterminado */
}

.custom-file-upload {
  cursor: pointer; /* Cambia el cursor a un puntero para indicar que es clickeable */
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  display: inline-block;
  border-radius: 4px;
}

.custom-file-upload i {
  margin-right: 5px; /* Añade un espacio entre el ícono y el texto */
}

input {
  display: none;
}

.lab {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 300px;
  width: 250px;
  border-radius: 4px;
  border: 1px dashed #999;
  cursor: pointer;
}

.lab:hover {
  color: blue;
  border: 1px dashed blue;
}

/* @media (hover: hover) {
  .lab:hover {
    color: blue;
    border: 1px dashed blue;
  }
} */

.icon-upload {
  font-size: 4em;
}

.group-upload {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 4px 0px 4px;
  overflow: hidden;
  height: 400px;
}

.button-upload {
  width: 250px;
  margin-top: 10px;
}
