<app-header></app-header>

<div class="container-fluid" style="padding-top: 10vh">
    <div class="container py-5">
        <div class="container-fluid">
            <div>
                <h2 class="fw-bold text-center">Términos y condiciones</h2>
                <p class="">
                    Los presentes Términos y Condiciones representan un contrato entre
                    usted (Cliente) y la plataforma (ReservaTuGrass).
                    <em>El presente Contrato detalla los servicios que presta
                        ReservaTuGrass y las condiciones que debe aceptar el Cliente para
                        acceder a los mismos</em>.
                </p>
            </div>

            <div class="mt-4">
                <h5 class="fw-bold">Empresa</h5>
                <p>
                    RerservaTuGrass es una plataforma automatizada, que provee una amplia
                    colección de recursos destinada a facilitar la reservación de canchas
                    deportivas, prestación de servicios de grass, servicios de pago, y
                    contenido personalizado, al que se puede acceder a través de diversos
                    medios o dispositivos conocidos o a ser desarrollados en el futuro (el
                    “Servicio”), a través de un portal de Internet denominado
                    “reservatugrass.com” (en adelante, la “Plataforma”).
                </p>
            </div>

            <div class="mt-4">
                <h5 class="fw-bold">Conceptos Generales</h5>
                <ol type="1">
                    <li>
                        <strong>Cliente: </strong> Hace referencia indistintamente a la
                        Empresa o al Usuario.
                    </li>
                    <li>
                        <strong>Empresa: </strong>Personas naturales o jurídicas que ofrecen
                        sus canchas deportivas (grass).
                    </li>
                    <li>
                        <strong>Usuario: </strong>Hace referencia a personas naturales o
                        jurídicas que reservan las canchas deportivas.
                    </li>
                    <li><strong>Servicio:</strong>Hace referencia indistintamente al servicio brindado por
                        ReservaTuGrass a las empresas y a los usuarios. </li>
                    <li>
                        <strong>Reservación:</strong>Servicio ofrecido al Usuario.
                    </li>
                    <li><strong>Comisión:</strong>Contraprestación pagada por el Cliente a ReservaTuGrass.</li>
                </ol>
            </div>

            <div class="mt-4">
                <h5 class="fw-bold">Servicio</h5>
                <p>El Servicio ofrecido tiene como principal objetivo poner a disposición del Cliente una herramienta
                    automatizada y autogestionada que le facilite la presetanción del grass sintético, cuando el cliente
                    sea una empresa, o que permita la reservación de canchas deportivas ofrecida por las empresas,
                    cuando el cliente sea un usuario.</p>
            </div>

            <div class="mt-4">
                <h5 class="fw-bold">Objeto del Contrato</h5>
                <p>Este Contrato tiene como objeto que el Cliente se informe de la Política de Privacidad y los Términos
                    y Condiciones de Uso de los Servicios y acceso a la Plataforma de ReservaTuGrass. En base a ello, le
                    pedimos que lea cuidadosamente este Contrato y asegúrese que lo entiende completamente antes de usar
                    el Servicio. El simple acceso a la Plataforma y uso del Servicio que ReservaTuGrass pone a su
                    disposición, se entenderá como la aceptación de los mismos y por ende su compromiso para respetar
                    las condiciones de uso. Le recomendamos a su vez, que guarde una copia del presente Contrato. <br>
                    <br>En el caso de que no se encuentre de acuerdo con este Contrato, deberá abstenerte de utilizar la
                    Plataforma y el Servicio ofrecido por ReservaTuGrass.
                </p>
            </div>

            <div class="mt-4">
                <h5 class="fw-bold">Condiciones esenciales para el uso del servicio</h5>
                <p>El Cliente declara que posee capacidad legal para contratar y que no posee ningún impedimento para
                    recibir servicios bajo las leyes del Perú y otras jurisdicciones aplicables. Asimismo, el Cliente se
                    obliga a: </p>
                <ol type="a">
                    <li>Proveer información verdadera, correcta, actual y completa acerca de su persona natural o
                        jurídica del modo requerido en el formulario de registro del Servicio (los “Datos de Registro”).
                    </li>
                    <li>Mantener y actualizar en todo momento los datos de registro a fin de conservarlos veraces,
                        actuales y completos. Si suministra información que es falsa, inexacta, desactualizada o
                        incompleta, o si ReservaTuGrass tiene bases razonables para sospechar que dicha información es
                        falsa, inexacta, desactualizada o incompleta, ReservaTuGrass tendrá el derecho de suspender o
                        cerrar su cuenta y negarle el uso presente o futuro del Servicio (o cualquier parte del mismo).
                    </li>
                </ol>
            </div>

            <div class="mt-4">
                <h3 class="fw-bold">Términos y Condiciones para el acceso al Servicio para los usuarios </h3>
                <p>ReservaTuGrass opera únicamente como un punto de reservación de canchas deportivas, por tanto, no se
                    encarga ni es responsable por la organización del mismo; asimismo, no asume responsabilidad alguna
                    por el aplazamiento o cancelación de la reservación, así como por cualquier hecho que ocurra antes,
                    durante o con posterioridad del mismo.</p>
                <ol type="a">
                    <li>La empresa es el único propietario y coordinador del partido y, como tal, posee el derecho
                        exclusivo de decidir en todas las cuestiones relacionadas con las reservaciones; es decir, sobre
                        los precios, características, fotografías y demás procesos.
                    </li>
                    <li>El usuario será responsable de obtener el acceso al Servicio, el cual podrá incluir cargos de
                        terceros (tales como cargos del proveedor de acceso a Internet o de comunicaciones); de esa
                        manera, el usuario será responsable de tales cargos. Además, deberá contar con todo el equipo
                        necesario para acceder al Servicio y será responsable por el acceso al mismo.
                    </li>
                    <li>Al efectuar la reservación de una cancha deportiva, el usuario se compromete a comprobar la
                        fecha, horario y precio sean correctos, pues no se aceptarán cambios, devoluciones o reintegros
                        de las reservaciones o tickets adquiridos, con excepción del supuesto de cancelación del
                        partido, en cuyo caso se indicará el procedimiento a seguir según indicaciones de la empresa de
                        grass.
                    </li>
                    <li>El usuario podrá efectuar el pago del ticket de reservaciones que desea adquirir a través de los
                        medios de pago disponibles en la Plataforma. ReservaTuGrass y/o la empresa no se hacen
                        responsables por cualquier inconveniente que ocurra con la tarjeta de crédito/débito ingresada o
                        billeteras digitales y que impida el cobro de la o las reservaciones; ya sea por consignar
                        erróneamente los datos de una tarjeta de crédito o débito, que la tarjeta de crédito o débito no
                        se encuentre habilitada para compras por internet, por fallas del sistema del banco emisor, por
                        un supuesto fraude electrónico, o por cualquier otra causa que impida realizar
                        satisfactoriamente el cobro de las reservaciones.
                    </li>
                    <li>En caso se presente algún incidente en la verificación o procesamiento de la tarjeta de
                        crédito/débito o billeteras digitales al momento del cobro, ReservaTuGrass lo indicará al
                        usuario en la opción web “Mis reservaciones”, qué tipo de incidente se ha suscitado o si el
                        procedimiento de compra ha sido exitoso. Si al momento de procesar el monto de las
                        reservaciones, la tarjeta no tuviera saldo o presentase alguna observación, se comunicará al
                        usuario para que pueda ingresar otra tarjeta.
                    </li>
                    <li>El cobro de las reservaciones por parte de ReservaTuGrass será automático en la mayoría de los
                        casos; sin embargo, en ciertas circunstancias puede tomar hasta cuarenta y ocho (48) horas para
                        completarse. El usuario deberá tener consideración de este punto al momento de decidir el
                        momento de su compra.
                    </li>
                    <li>El usuario acepta que es el único responsable de la información ingresada al momento de la
                        reservación.
                    </li>
                    <li>Antes de completar su registro, el usuario debe revisar cuidadosamente los datos, ya que una vez
                        completada la compra, no se permiten cambios, reintegros y/o devoluciones, salvo las admitidas
                        por la empresa. Las reservaciones solo serán consideradas válidas para iniciar el juego siempre
                        que sean pagadas parcial o total, a través de la Plataforma y siempre que el pago se encuentre
                        registrado en el sistema de ReservaTuGrass.
                        El usuario debe adoptar los recaudos necesarios a fin de evitar adquirir y/o poseer una
                        reservación
                        falsa, ya que de lo contrario podría ser objeto de las acciones legales correspondientes.
                    </li>
                    <li>Si el usuario realizara más de un pago en la misma transacción, queda a criterio de la empresa
                        determinar si considera válido dicho registro y si corresponde algún tipo de devolución por un
                        doble pago, de ser el caso.
                    </li>
                    <li>ReservaTuGrass podrá anular la reservación o reservaciones adquiridas por el usuario en caso
                        identificara que estas se obtuvieron a través de alguna manipulación operacional, sistemática o
                        informática del sistema de compras de ReservaTuGrass.
                    </li>
                    <li>
                        ReservaTuGrass emite el ticket o tickets de la reservación o reservaciones en el perfil de
                        usuario, apartado "Mis reservaciones".
                    </li>
                    <li>
                        El usuario es absoluto responsable de custodiar el ticket de reservación adquirida, no siendo
                        responsabilidad de ReservaTuGrass o de la empresa por la pérdida de los accesos a sus entradas
                        adquiridas en la Plataforma. En cualquier caso, puede visualizar el ticket en su perfil,
                        apartado "Mis reservaciones".
                    </li>
                    <li>
                        El ingreso a la cancha deportiva después de la hora señalada en la reservación está sujeto a las
                        reglas la empresa.
                    </li>
                    <li>
                        El plazo para adquirir el ticket de reserva puede ser variable dependiendo de lo acordado
                        directamente con la empresa del grass. En caso no se haya especificado este detalle, los
                        usuarios tienen la posibilidad de adquirir tickets hasta un (1) minuto antes de la hora de la
                        actividad correspondiente: ej: Si la actividad inicia las 4:00 p.m de la tarde, los usuarios
                        pueden adquirir tickets hasta las 3:59 p.m.
                    </li>
                    <li>
                        La empresa se reserva el derecho de agregar, modificar o sustituir el contenido, precios,
                        fotografías, entre otros.
                    </li>
                    <li>
                        Ante cualquier duda particular respecto a la reservación que desea el usuario puede
                        consultar a la plataforma como a la empresa.
                    </li>
                    <li>
                        El usuario reconoce y acepta que el único medio por el cual ReservaTuGrass le muestre sus
                        tickets
                        adquiridos y él pueda acceder a ellas, es mediante la plataforma misma de ReservaTuGrass a
                        través
                        de su
                        usuario y contraseña e ingresando directamente a la sección de MIS RESERVACIONES. No hay otro
                        medio por el cual ReservaTuGrass entregará el ticket o tickets de reservación al usuario.
                    </li>
                </ol>
            </div>

            <div class="mt-4">
                <h5 class="fw-bold">Limitación de responsabilidad de ReservaTuGrass para el Usuario</h5>
                <p>El Servicio de ReservaTuGrass no garantiza de ninguna manera que el partido al que reservó vaya a
                    realizarse, sino que se limita a notificar a las empresas de su deseo de participación con las
                    selecciones que usted haya realizado y, de ser el caso, transferirle a la empresa de la reservación
                    los
                    pagos que usted haga a través de alguno de los medios de pago habilitados en la Plataforma y/o a
                    través de las billeteras digitales. <br> <br>

                    Si el partido es cancelado debido a cualquier causa, incluso las que respondan a un supuesto de caso
                    fortuito o fuerza mayor, no existirá derecho alguno a efectuar contra ReservaTuGrass reclamos por
                    devoluciones o reintegros. La empresa será el único y exclusivo responsable de efectuar las
                    devoluciones o reembolsos correspondientes; en este caso la empresa tendrá un plazo de hasta
                    noventa (90) días calendario desde la fecha estipulada del partido para la devolución del importe
                    correspondiente al usuario. <br> <br>

                    ReservaTuGrass podrá gestionar las devoluciones o reembolsos, siempre que ello fuera indicado y
                    acordado
                    entre ReservaTuGrass y la empresa. En caso ReservaTuGrass gestione la devolución del dinero, el
                    usuario deberá
                    seguir las indicaciones, las mismas que podrán ser comunicadas por correo electrónico o por
                    whatsApp. <br> <br>

                    Cuando el usuario de la reservación tenga derecho a un reembolso, el reembolso se limitará al
                    precio pagado empresa. Solo el usuario cuyo nombre figure en el formulario de
                    solicitud tendrá derecho a pedir un reembolso. <br> <br>

                    ReservaTuGrass no estará obligada a efectuar devoluciones de dinero por errores de fechas, valores
                    registrados, nombres de la reservación, o en general por causas ajenas a
                    responsabilidades propias. <br> <br>

                    ReservaTuGrass no garantiza la habilitación de todos los métodos de pago al momento de realizar la
                    compra. Esto se debe a que ReservaTuGrass utiliza métodos y sistemas de seguridad para compras en
                    línea lo
                    que puede generar que ciertas modalidades de pago no estén habilitadas según análisis de estos
                    sistemas de seguridad. <br> <br>

                    ReservaTuGrass no asume responsabilidad por el retraso, borrado, entrega equivocada o falla al
                    guardar cualquier información del usuario, o sus criterios de personalización. <br> <br>

                    ReservaTuGrass no asume responsabilidad por errores técnicos, como fallas del equipo o los programas
                    informáticos, o fallas de internet o de equipos de impresión que utilice el usuario para acceder a
                    la Plataforma. <br> <br>

                    ReservaTuGrass no asume responsabilidad por la recepción de correos electrónicos enviados a los
                    usuarios debido a la operación misma. Toda comunicación se realizará mediante la misma plataforma de
                    ReservaTuGrass. <br> <br>
                </p>
            </div>

            <div class="mt-4">
                <h3 class="fw-bold">Términos y Condiciones para el acceso al Servicio para la empresa</h3>
                <p>
                    ReservaTuGrass pone a disposición de la empresa una amplia colección de recursos destinada a
                    facilitar la reservación de una cancha deportiva, incluyendo
                    herramientas de comunicación, foros, medios de pago y contenido personalizado, a los que podrá
                    acceder a través de la Plataforma o a través de diversos dispositivos electrónicos o mediante los
                    medios a ser desarrollados en el futuro. <br> <br>

                    El Servicio de ReservaTuGrass no garantiza de ninguna manera que la empresa recibirá
                    participantes en su grass; sino que se limita a proporcionar herramientas para que la empresa y
                    participantes puedan acordar su asistencia. <br> <br>

                    ReservaTuGrass no asume responsabilidades por el retraso, borrado, entrega equivocada o falla al
                    guardar cualquier información de la empresa, o sus criterios de personalización. <br> <br>

                    La empresa será responsable de obtener el acceso al Servicio, el cual podrá incluir cargos de
                    terceros (tales como cargos del proveedor de acceso a Internet o de comunicaciones). De esa manera,
                    la empresa será responsable de tales cargos, incluyendo aquellos cargos asociados con la
                    exhibición o envío de publicidad. Además, deberá contar con todo el equipo necesario para acceder al
                    Servicio y será responsable del mismo. <br> <br>

                    Al registrarse, ReservaTuGrass procesará por cuenta y orden de la empresa las cobranzas por las
                    reservaciones.<br> <br>

                    ReservaTuGrass sólo facilitará la cobranza de las reservaciones, a través de los medios de pago
                    puestos a disposición ReservaTuGrass en la Plataforma.<br> <br>

                    ReservaTuGrass cobra un porcentaje del valor de cada reservación, dicho porcentaje incluye la
                    comisión
                    por el acceso y uso del Servicio de ReservaTuGrass y la comisión correspondiente a los medios de
                    pago
                    puestos a disposición en la Plataforma que permiten la recaudación de las reservaciones
                    vendidas.<br> <br>

                    En esta comisión no están incluidos los impuestos de ley. El porcentaje de cobro depende de los
                    servicios
                    que la empresa solicite a ReservaTuGrass. Esta comisión empieza desde el 10% para las
                    prestaciones de
                    servicios más básicas, en otras palabras, si la reserva de un usuario es de una hora, su pago
                    parcial será de S/. 10.00, por lo cual el 10% de esta será para la plataforma, y el 90% será de
                    inmediato el pago correspondiente a la empresa.<br> <br>

                    Todas las liquidaciones se hacen por transferencia bancaria y/o billeteras digitales. Si la cuenta
                    bancaria de la empresa
                    fuera un banco diferente al Banco de Crédito del Perú (BCP), las comisiones por las transferencias
                    interbancarias serán asumidas por la empresa. Por lo cual, en casi la totalidad, la
                    transferencia será a través de las billeteras digitales (Yape/Plin), con el fin de evitar comisiones
                    por transferencias.<br> <br>

                    ReservaTuGrass no es una entidad financiera, ni presta servicios bancarios o cambiarios. Los fondos
                    recaudados por cuenta y orden de la empresa, acreditados en la cuenta ReservaTuGrass, no generarán
                    intereses ni compensaciones adicionales.<br> <br>

                    Todas las cuentas de ReservaTuGrass están denominadas en la moneda de los países en los cuales
                    ReservaTuGrass
                    brinde su Servicio y el usuario acceda a él; de modo que todas las referencias a dinero en la
                    Plataforma se indican a realizarse en las monedas de curso legal en los países en donde
                    ReservaTuGrass
                    ofrezca su Servicio, a excepción de aquellas en las que expresamente se indique lo contrario.<br>
                    <br>

                    Todos los depósitos y transacciones fuera del territorio peruano, se realizarán en dólares al tipo
                    de cambio internacional.<br> <br>
                </p>

                <p>La empresa se compromete a cumplir con las siguientes obligaciones:</p>
                <ul>
                    <li>
                        Pagar la comisión que corresponde a ReservaTuGrass del monto total facturado, al margen de haber
                        elegido y
                        aprobado el modelo de facturación donde el usuario asume parte del fe.
                    </li>
                    <li>
                        Asumir la responsabilidad total por la asistencia de los usuarios a su cancha, puesto que la
                        plataforma de ReservaTuGrass sólo provee de
                        las herramientas necesarias para ejecutarlo, pero no asume la labor de llevar el control de la
                        asistencia de los usuarios o ejecutarlo ni presencial ni remotamente.
                    </li>
                </ul>
            </div>

            <div class="mt-4">
                <h5 class="fw-bold">Limitación de responsabilidad de ReservaTuGrass para la empresa</h5>
                <ol type="a">
                    <li>
                        La empresa se obliga a mantener indemne y defender a la plataforma en caso de cualquier
                        cancelación, postergación o suspensión, y/o cualquier modificación del partido, que pueda causar
                        la solicitud de devolución, quejas o reclamos de cualquier tipo por parte de los usuarios ante
                        cualquier entidad administrativa, pública o privada.
                    </li>
                    <li>
                        Si existiera algún desconocimiento de compra por parte de algún usuario, la empresa será el
                        único y exclusivo responsable ante el requerimiento efectuado por el señalado usuario.
                    </li>
                    <li>
                        Si un partido fuera cancelado o reprogramado por cualquier causa, incluso las que respondan a un
                        supuesto de caso fortuito o fuerza mayor, según lo dispuesto en el Artículo 1315 del Código
                        Civil, la empresa conoce y acepta que será el único y exclusivo responsable frente a los
                        usuarios que reclamen la devolución o reintegro del pago efectuado por ellos.
                    </li>
                    <li>
                        En caso se produzcan los supuestos detallados en el literal a) y b), ReservaTuGrass se
                        compromete a informar de ello la empresa a la brevedad posible. Por su parte, la empresa tendrá
                        un plazo máximo de cinco (5) días hábiles para subrogarse en la posición de la plataforma frente
                        a los señalados reclamos, manteniendo indemne a ReservaTuGrass de cualquier pago y/o extorno
                        realizado por el banco.
                    </li>
                    <li>
                        En caso existan anomalías en las transacciones, ya sea por reclamos de usuarios contra la
                        empresa, anomalías en las tarjetas de pago, alerta de los bancos por posibles fraudes, pasado el
                        plazo señalado en el literal anterior, ReservaTuGrass tendrá la potestad de retener el monto a
                        depositar a la empresa hasta aclarar el motivo del reclamo y solucionarlo; dichas retenciones
                        serán descontados del importe parcial que le corresponda entregar la empresa, de ser el caso.
                        Además, la empresa deberá reembolsar todo costo o gasto incurrido por ReservaTuGrass como
                        consecuencia del reclamo de dicho usuario en un plazo no mayor de cinco (5) días hábiles desde
                        la comunicación de dichos costos o gastos.
                    </li>
                    <li>
                        En el supuesto señalado en el literal e), la empresa acepta que en caso reservatuGrass atienda
                        las solicitudes de los consumidores, esto se producirá una vez descontado el monto de la
                        comisión que le correspondiera en virtud del presente Contrato.
                    </li>
                </ol>
                <p><em>La presente cláusula abarca la obligación de la empresa de defender y mantener indemne a
                        ReservaTuGrass de cualquier gasto, reclamación, sanción, indemnización y costes – incluida la
                        defensa a través de abogado y procurador – que pudieran derivarse para esta como consecuencia
                        del incumplimiento de esta cláusula.</em></p>
            </div>

            <div class="mt-4">
                <h5 class="fw-bold">Términos generales acerca del uso de la Plataforma y almacenamiento de información
                </h5>
                <p>
                    La empresa reconoce que ReservaTuGrass puede establecer prácticas generales y límites con respecto
                    al
                    uso del Servicio, como, anuncios publicados u otros
                    contenidos cargados en la Plataforma, el número máximo de mensajes de correo electrónico que puedan
                    ser enviados o recibidos por una cuenta en el marco de la ejecución del Servicio, los montos máximos
                    y mínimos que pueden ser cobrados por una reservación, la cantidad de tickets de reservación que
                    pueden
                    emitirse, el tamaño máximo de cualquier mensaje de correo electrónico que pueda ser mandado o
                    recibido por una cuenta en el marco de la ejecución del Servicio.

                    La empresa acepta que ReservaTuGrass no tiene responsabilidad u obligación por el borrado o falla en
                    el
                    almacenamiento de mensajes u otras comunicaciones, o cualquier otro Contenido mantenido o
                    transmitido en el marco de la ejecución del Servicio. La empresa acepta que ReservaTuGrass se
                    reserva
                    el derecho de dar de baja cuentas que han estado inactivas por un período prolongado de tiempo y el
                    derecho de modificar estas prácticas generales y límites en cualquier momento, a su solo arbitrio,
                    sin necesidad de previa notificación.
                </p>
            </div>
            <div class="mt-4">
                <h3 class="fw-bold">Registro
                </h3>
                <ul>
                    <li>El Cliente para hacer uso de la Plataforma y del Servicio ofrecido por ReservaTuGrass, debe
                        declarar
                        tener al menos dieciocho (18) años de edad cumplidos; contar con un documento de identidad
                        asignado por las entidades gubernamentales en los países en donde ReservaTuGrass brinda su
                        Servicio o
                        pasaporte, y contar con capacidad legal para celebrar contratos.</li>
                    <li>El Cliente declara y garantiza que la cuenta aperturada en la Plataforma, es para su uso
                        personal o a nombre de la empresa que representa.</li>
                    <li>En caso el Cliente sea una persona natural, declara que no está actuando en nombre de una
                        tercera persona.</li>
                    <li>En caso el Cliente sea una persona jurídica, declara que los datos consignados son verídicos y
                        vigentes.</li>
                    <li>Al crear una cuenta en la Plataforma, el Cliente deberá registrar un correo electrónico personal
                        y una clave segura, la cual será de su exclusiva responsabilidad y no deberá compartirla.</li>
                    <li>El Cliente deberá registrar sus datos personales y de contacto (como persona natural o como
                        responsable de la empresa registrada). En base a ello, el Cliente nos brinda su consentimiento
                        para hacer uso de sus datos personales, para la verificación de identidad y operaciones de tipo
                        de cambio acordadas.</li>
                </ul>
                <em>Sus Datos de Registro y cierta información se encuentran sujetos a nuestra Política de
                    Privacidad</em>
            </div>
            <div class="mt-4">
                <h5 class="fw-bold">
                    Cuenta, contraseña y seguridad
                </h5>
                <p>
                    El cliente es responsable de la asignación de <em>usuario</em> y <em>contraseña</em> en el proceso
                    de la creación de la cuenta para su "inicio de sesión de su perfil". El Cliente será responsable de
                    mantener la confidencialidad de la contraseña
                    y de la cuenta, siendo también único y absoluto responsable por todos los eventos que ocurran bajo
                    su contraseña o cuenta.

                </p>


                <p>El Cliente se compromete a: </p>
                <ul>
                    <li>Notificar inmediatamente a ReservaTuGrass de cualquier uso no autorizado de
                        su contraseña o cuenta o, de cualquier otra violación de seguridad, y </li>
                    <li>asegurarse de que su
                        cuenta sea cerrada al final de cada sesión. </li>
                </ul>

                <em>
                    ReservaTuGrass no será responsable por ninguna pérdida o daño que resulte como consecuencia de su
                    incumplimiento a las disposiciones de esta cláusula.
                </em>
            </div>


        </div>
    </div>
</div>

<app-footer></app-footer>