<app-nav></app-nav>


<div class="container py-4">
  <app-sidebar></app-sidebar>

  <div class="shadow rounded mt-5 p-4">
    <h3 class="text-center fw-bold" style="color:rgb(6, 170, 115)">CANCHAS</h3>

    <ng-container *ngIf="load_data">
      <div class="text-center">
        <div class="spinner-border text-secondary" style="width: 3rem; height: 3rem" role="status">
        </div>
        <h4 class="text-black-50"><small>Cargando...</small></h4>
      </div>
    </ng-container>

    <ng-container *ngIf="!btn_crear && !load_data">
      <div>
        <div class="shadow card rounded my-4" *ngFor="let item of canchas; let indice = index"
          style="border: 1px solid rgb(111, 66, 193);">
          <div class="card-body py-2 px-sm-5 px-3">

            <h4 class="text-center fw-bold"> Cancha {{indice+1}}
              <span *ngIf="item.tipo == 'Fútbol/Futsal'" class="fw-light h6" style="color: rgb(0, 192, 86);">
                {{item.tipo}}
              </span>

              <span *ngIf="item.tipo == 'Voley'" class="fw-light h6" style="color: rgb(241, 78, 143);">{{item.tipo}}
              </span>

              <span *ngIf="item.tipo == 'Mixto'" class="fw-light h6" style="color: rgb(122, 78, 241);">{{item.tipo}}
              </span>
            </h4>

            <div class="row" *ngIf="item.tipo != 'Mixto'">
              <div class="col-12 fw-light" style="text-align: justify;">
                {{item.descripcion}}
              </div>

              <div class="col-12 col-sm-4 py-3">
                <span class="fw-bold h5">Medida: </span> <span> {{item.largo}}m x {{item.ancho}}m </span>
              </div>

              <div class="col-12 col-sm-4 py-3">
                <span class="fw-bold h5">Precio de día: </span> <span> S/. {{item.precio_dia}} </span>
              </div>

              <div class="col-12 col-sm-4 py-3">
                <span class="fw-bold h5">Precio de noche: </span> <span> S/. {{item.precio_noche}} </span>
              </div>
            </div>

            <div class="row" *ngIf="item.tipo == 'Mixto'">
              <div class="col-12 fw-light" style="text-align: justify;">
                {{item.descripcion}}
              </div>

              <div class="col-12 col-sm-4 py-3">
                <span class="fw-bold h5">Medida <em class="futsal fw-light">futsal</em>: </span> <span> {{item.largo}}m x {{item.ancho}}m </span>
              </div>

              <div class="col-12 col-sm-4 py-3">
                <span class="fw-bold h5">Precio de día: <em class="futsal fw-light">futsal</em> </span> <span> S/. {{item.precio_dia}} </span>
              </div>

              <div class="col-12 col-sm-4 py-3">
                <span class="fw-bold h5">Precio de noche: <em class="futsal fw-light">futsal</em> </span> <span> S/. {{item.precio_noche}} </span>
              </div>

              <div class="col-12 col-sm-4">
                <span class="fw-bold h5">Medida <em class="voley fw-light">voley</em>: </span> <span> {{item.largo_voley}}m x {{item.ancho_voley}}m </span>
              </div>

              <div class="col-12 col-sm-4">
                <span class="fw-bold h5">Precio de día: <em class="voley fw-light">voley</em> </span> <span> S/. {{item.precio_dia_voley}} </span>
              </div>

              <div class="col-12 col-sm-4">
                <span class="fw-bold h5">Precio de noche: <em class="voley fw-light">voley</em> </span> <span> S/. {{item.precio_noche_voley}} </span>
              </div>
            </div>

            <div class="d-flex flex-wrap justify-content-between pt-2" data-toggle="collapse" aria-expanded="false">

              <a class="text-info fs-5" [routerLink]="['/grass/canchas', item._id]"><i class="bi bi-pencil"></i></a>
              <a class="futsal fs-5" [routerLink]="['/grass/canchas/galeria/', item._id]"><i class="bi bi-images"></i></a>
              <a data-bs-toggle="modal" [attr.data-bs-target]="'#delete-' + item._id"
                class="text-danger fs-5" type="button">
                <i class="bi bi-trash"></i>
              </a>
            </div>

          </div>

          <!-- Modal eliminar -->
          <div class="modal fade" id="delete-{{ item._id }}" tabindex="-1" style="display: none" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title text-center">
                    Eliminar cancha
                  </h4>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                  </button>
                </div>
                <div class="modal-body text-center">
                  Desea eliminar la cancha {{indice + 1}}?
                </div>
                <div class="modal-footer">
                  <button class="btn btn-secondary btn-sm bi-x-lg" type="button" data-bs-dismiss="modal">
                  </button>
                  <button *ngIf="!load_btn" class="btn btn-danger btn-sm" data-bs-dismiss="modal"
                    (click)="eliminar(item._id)" type="button"> <i class="bi bi-trash-fill"></i> &nbsp;
                    Eliminar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Agregar -->
      <div class="d-grid gap-2">
        <button class="btn btn-primary" type="button" [routerLink]="['/grass/canchas/crear']">
          <i class="bi bi-plus-lg"></i> &nbsp;
          Agregar
        </button>
      </div>
    </ng-container>

    <ng-container *ngIf="btn_crear && !load_data">
      <div class="alert alert-danger text-center" role="alert">
        Aún no existen canchas!
      </div>

      <div class="text-center">
        <button type="button" class="btn btn-primary" [routerLink]="['/grass/canchas/crear']"><i
            class="bi bi-plus-circle"></i> &nbsp; Crear</button>
      </div>
    </ng-container>
  </div>
</div>