<app-nav></app-nav>


<div class="container py-4">
    <app-sidebar></app-sidebar>

    <div class="shadow rounded mt-5 p-4">
        <h3 class="text-center fw-bold" style="color:rgb(6, 170, 115)">CANCHAS</h3>

        <div class="alert alert-danger text-center" role="alert">
            Aún no existen canchas!
        </div>

        <div class="text-center">
            <button type="button" class="btn btn-primary" [routerLink]="['/grass/canchas/crear']"><i class="bi bi-plus-circle"></i> &nbsp; Crear</button>
        </div>
    </div>
</div>