<app-nav></app-nav>

<div class="container py-5">
    <div class="shadow rounded mt-5 p-4">
        <div class="row">
            <div class="col-sm-3 col-12 mt-3">
                <app-sidebar></app-sidebar>
            </div>
            <!-- actualizar contraseña -->
            <div class="col-sm-9 col-12 mt-3">
                <h3 class="text-center fw-bold py-4" style="color:rgb(6, 170, 115)">ACTUALIZAR CONTRASEÑA</h3>
                <!-- Body -->
                <div class="d-flex">
                    <div class="flex-fill border-box d-none d-lg-block"
                        style="width: 5%; border-left: 1px solid rgb(6, 170, 115);">
                    </div>

                    <div class="flex-fill" style="width: 95%;">
                        <div class="text-center">

                            Estimado usuario, para actualizar su contraseña, debe confirmar su contraseña anterior

                            <div class="row">
                                <div class="col-12 col-sm-6 mt-3">
                                    <label for="inputPassword2" class="visually-hidden">Password</label>
                                    <input type="password" class="form-control" id="inputPassword2"
                                        placeholder="Ingrese su contraseña actual" [(ngModel)]="pass">
                                </div>
                                <div class="col-12 col-sm-6 mt-3">

                                    <button type="submit" class="btn btn-primary mb-3" (click)="comparar_password()"
                                        *ngIf="!verificado">
                                        <i class="bi bi-check-lg"></i>
                                        &nbsp; Verificar
                                    </button>

                                    <button type="submit" class="btn btn-success mb-3" (click)="comparar_password()"
                                        *ngIf="verificado" disabled>
                                        <i class="bi bi-check-lg"></i>
                                        &nbsp; Verificado
                                    </button>

                                </div>
                            </div>
                            <!-- Contraseña nueva -->
                            <div class="py-2"></div>
                            <div class="row mt-4">
                                <div class="col-12 col-sm-6">
                                    <label for="password1" class="form-label text-black-50">Contraseña nueva</label>
                                    <input [type]="passtext" class="form-control" placeholder="Contraseña nueva"
                                        (keyup)="compare_password()" name="password1" id="password1"
                                        [(ngModel)]="password1" required [disabled]="!verificado" />
                                </div>

                                <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                                    <label for="password" class="form-label text-black-50">Confirmar contraseña</label>
                                    <div class="input-group">
                                        <input [type]="passtext" class="form-control" id="password"
                                            placeholder="Confirme su contraseña" name="password" [(ngModel)]="password"
                                            required (keyup)="compare_password()" [disabled]="!verificado" />
                                        <a class="btn btn-outline-primary" (click)="onClickPass()">
                                            <i class="bi bi-eye-fill" aria-hidden="true" *ngIf="!show"></i>
                                            <i class="bi bi-eye-slash-fill" aria-hidden="true" *ngIf="show"></i>
                                        </a>
                                    </div>

                                    <div class="alert alert-danger mt-2 text-center" role="alert" *ngIf="alert_pass">
                                        <em>Las contraseñas no coinciden</em>
                                    </div>
                                </div>

                                <div class="d-grid gap-2 mt-3" *ngIf="valid">
                                    <button class="btn btn-primary" type="button" (click)="actualizar_password()">
                                        <i class="bi bi-check2-circle"></i> &nbsp;
                                        Actualizar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>