<app-nav></app-nav>

<div class="container py-5">
  <div class="shadow rounded mt-5 p-4">
    <div class="row">
      <div class="col-sm-3 col-12 mt-3">
        <app-sidebar></app-sidebar>
      </div>
      <!-- mis pagos -->
      <div class="col-sm-9 col-12 mt-3">
        <h3 class="text-center fw-bold py-4" style="color:rgb(6, 170, 115)">MIS RESERVACIONES</h3>
        <!-- Body -->
        <div class="">

          <div class="flex-fill border-box d-none d-lg-block"
            style="width: 5%; border-left: 1px solid rgb(6, 170, 115);">
          </div>

          <div *ngIf="load_data || load_reservas">
            <!-- Custom size border spinner -->
            <div class="text-center">
              <div class="spinner-border" style="width: 3rem; height: 3rem" role="status">
              </div>
              <h5 class="text-black-50"><small>Cargando...</small></h5>
            </div>
          </div>

          <ng-container *ngIf="fromOut && !load_data">
            <div class="card" style="border-color: #FFC107;">
              <div class="card-body">
                <div class="text-center">
                  <span class="badge rounded-pill text-bg-warning px-3">Reservación pendiente &nbsp;
                    <a class="" type="" disabled>
                      <span class="spinner-grow spinner-grow-sm fs-6" aria-hidden="true"></span>
                    </a>
                  </span>
                  <h4> {{cancha.nombre}} <span class="fw-light fs-5">del</span> {{cancha.empresa.nombre}} </h4>
                  <span class="fw-light"> {{cancha.empresa.direccion}} </span>

                  <h4> </h4>

                </div>

                <div class="row py-2">
                  <div class="col-12 col-sm-4"> <i class="bi bi-person fs-4" style="color:rgb(0, 192, 86);"></i>
                    &nbsp; {{user_lc.nombres}}
                  </div>
                  <div class="col-12 col-sm-4"><i class="bi bi-calendar-event fs-4" style="color:rgb(0, 192, 86);"></i>
                    &nbsp; {{fecha |titlecase }}
                  </div>
                  <div class="col-12 col-sm-4"> <i class="bi bi-clock fs-4" style="color:rgb(0, 192, 86);"></i>
                    &nbsp; {{horaInicio}}:00 a {{horaFin}}:00
                  </div>
                </div>

                <div class="text-center my-1">
                  <p class="fw-light m-0"> Subtotal </p>
                  <span style="color:rgb(0, 192, 86); font-size: 3rem;" class="fw-light"> S/. {{subtotal}} </span>
                </div>

                <div class="text-center">
                  <button type="button" class="btn btn-sm px-4" (click)="crear_reservacion()"
                    style="background-color:rgb(0, 192, 86); color: #fff; border-radius: 15px;">
                    Confirmar
                  </button> &nbsp;

                  <button type="button" class="btn btn-sm px-4" (click)="eliminar_pre_reserva()"
                    style="background-color:rgb(255, 102, 102); color: #fff; border-radius: 15px;">
                    <i class="bi bi-trash"></i>
                  </button>
                </div>

              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="!load_reservas && reservaciones.length >= 1">
            <div *ngFor="let item of reservaciones; let indice = index" class="card my-3" style="border-color: #00C056;">
              <div class="card-body">
                <div class="text-center">
                  <span class="m-0"> Reservación N° {{reservaciones.length - indice}} </span> &nbsp;
                  <span class="fw-light"> {{item.cancha.empresa.direccion}} </span>
                  <span *ngIf="item.estado == 'Ocupado'" class="badge rounded-pill text-bg-secondary">Ocupado</span>
                  <span *ngIf="item.estado == 'Reservado'" class="badge rounded-pill"
                    style="background-color: rgb(0, 192, 86);">Reservado</span>
                  <span *ngIf="item.estado == 'Finalizado'" class="badge rounded-pill text-bg-danger">Finalizado</span>
                </div>

                <div class="row">
                  <ng-container *ngIf="item.estado == 'Ocupado'">
                    <div class="col-12 col-md-4">
                      <div class="shadow rounded my-3">
                        <div class="text-center p-4">
                          <p class="fw-light m-0">
                            Su reservación está por ser confirmado,
                            siga las instrucciones:
                          </p>

                          <button data-bs-toggle="modal" [attr.data-bs-target]="'#ver-' + item._id"
                              class="btn btn-secondary btn-sm mt-2" type="button" title="Ver instrucciones">
                              <i class="bi bi-eye"></i> &nbsp; Ver instrucciones
                            </button>
                        </div>
                      </div>
                    </div>
                  </ng-container>

                  <!-- Modal ver cuentas -->
                  <div class="modal fade" id="ver-{{ item._id }}" tabindex="-1" style="display: none"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title text-center">
                            Instrucciones
                          </h4>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                          </button>
                        </div>
                        <div class="modal-body px-lg-5">

                          <p>
                            <span class="fw-bold pasos px-2">Paso 1</span> &nbsp; 
                            Realizar un pago de 
                            <span class="icono">S/. {{ item.subtotal }} </span> a una de las siguientes cuentas.
                          </p>

                          <div class="" *ngIf="!load_data">
                            <ng-container *ngFor="let item of cuentas">
                              <div class="shadow rounded px-3 my-3 py-3" [ngStyle]="{'background-color': item.color}">
                                <div class="row pt-3">
                                  <div class="text-center">
                                    <h5 class="fw-bold">
                                      {{item.banco}}
                                    </h5>
                                  </div>
                                </div>
        
                                <div class="row">
                                  <div class="col-md-4 col-12">
                                    <span class="badge rounded-pill text-bg-light"><strong>Titular: </strong>
                                      {{item.titular}}</span>
                                  </div>
        
                                  <div class="col-md-4 col-12">
                                    <span class="fs-6 mx-3"> <strong>Cuenta: </strong> {{item.cuenta}}</span>
                                  </div>
        
                                  <div class="col-md-4 col-12">
                                    <span class="fs-6 mx-3"> <strong>CCI: </strong> {{item.cci}}</span>
                                  </div>
                                </div>
                              </div>
        
                            </ng-container>
                          </div>

                          <p>
                            <span class="fw-bold pasos px-2">Paso 2</span> &nbsp;
                            Enviar el comprobante del pago al 
                            Whatsapp <span class="fw-bold">
                              <a href="https://wa.me/51928899925" target="_blank">
                                <i class="bi bi-whatsapp icono"></i>
                              </a> 
                               90002329 </span> o al correro
                               <a href="mailto:reservatugrass@gmail.com" target="_blank" style="text-decoration: none;">
                                 <i class="bi bi-envelope gmail"></i> reservatugrass&#64;gmail.com.
                               </a>
                               <span class="fw-bold"></span>
                                
                          </p>

                          <p>
                            <span class="fw-bold pasos px-2">Paso 3</span> &nbsp; 
                            Enviar el código 
                            <span class="icono"> {{item._id}} </span>
                            al mismo número o correo.
                          </p>
                          
                        </div>
                      </div>
                    </div>
                  </div>

                  <ng-container *ngIf="item.estado == 'Reservado' || item.estado == 'Finalizado'">
                    <div class="col-12 col-md-4">
                      <div class="shadow rounded my-3">
                        <div class="text-center">
                          <qrcode style="width: 100vw;" [qrdata]="item._id" [width]="200" [errorCorrectionLevel]="'M'">
                          </qrcode>
                          <p class="fw-light m-0"> {{ item._id }} </p>
                        </div>
                      </div>
                    </div>
                  </ng-container>

                  <div class="col-12 col-md-8">
                    <table class="table table-sm">
                      <tbody>
                        <tr>
                          <td><i class="bi bi-house icono"></i> &nbsp; {{ item.empresa.nombre }}</td>
                          <td><i class="bi bi-square icono"></i> &nbsp; {{ item.cancha.nombre }}</td>
                        </tr>
                        <tr>
                          <td colspan="2"><i class="bi bi-geo-alt icono"></i> &nbsp;
                            <a href="{{ item.empresa.ubicacion }}" target="_blank"
                              style="text-decoration: none; color: #000;"> {{item.empresa.direccion}}
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="2"><i class="bi bi-calendar-event icono"></i> &nbsp; {{ item.fecha }}</td>
                        </tr>
                        <tr>
                          <td><i class="bi bi-clock icono"></i> &nbsp; {{item.hora_inicio}}:00 a {{item.hora_fin}}:00
                          </td>
                          <td><i class="bi bi-person icono"></i> &nbsp; {{ user_lc.nombres }}</td>
                        </tr>
                        <tr>
                          <td><i class="bi bi-gear icono"></i> &nbsp; {{ item.estado }}</td>
                          <td><i class="bi  bi-cash-coin icono"></i> &nbsp; S/. {{ item.subtotal }}</td>
                        </tr>

                      </tbody>
                    </table>

                    <p class="fw-light m-0">Creación: {{ item.createdAt | date: 'medium' }} </p>
                  </div>
                </div>

              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="reservaciones.length < 1">
            <div class="alert alert-danger mt-3 mb-0 text-center" role="alert">
                Aún no existen reservaciones
            </div>
        </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>