<app-nav></app-nav>


<div class="container py-4">
  <app-sidebar></app-sidebar>

  <div class="shadow rounded mt-5 p-4">
    <h3 class="text-center fw-bold" style="color:rgb(6, 170, 115)">
      Reservaciones &nbsp;
      <button class="btn btn-primary" type="button" [routerLink]="['/grass/reservaciones/crear']">
        <i class="bi bi-plus-lg"></i>
      </button>
    </h3>

    <ng-container *ngIf="load_data">
      <div class="text-center">
        <div class="spinner-border text-secondary" style="width: 3rem; height: 3rem" role="status">
        </div>
        <h4 class="text-black-50"><small>Cargando...</small></h4>
      </div>
    </ng-container>

    <ng-container *ngIf="!load_data && reservaciones.length >= 1">
      <div *ngFor="let item of reservaciones | paginate: { itemsPerPage: 10, currentPage: p } "
        class="card my-3" style="border-color: #00C056;">
        <div class="card-body">
          <div class="row">
            <ng-container *ngIf="item.estado == 'Ocupado'">
              <div class="col-12 col-md-4">
                <div class="shadow rounded my-3">
                  <div class="text-center p-4">
                    <p class="fw-light m-0">
                      La reservación está por ser confirmada, si no se hace el pago en 15 minutos
                      se elimina automáticamente.
                    </p>

                    <p class="fw-light text-danger">
                      <small>Si tiene una reserva pendiente, puedes eliminarla.</small>
                    </p>

                    <button data-bs-toggle="modal" [attr.data-bs-target]="'#ver-' + item._id"
                      class="btn btn-danger btn-sm mt-2" type="button" title="Eliminar">
                      <i class="bi bi-trash"></i>
                    </button>
                  </div>
                </div>
              </div>
            </ng-container>

            <!-- Modal eliminar reservaciones -->
            <div class="modal fade" id="ver-{{ item._id }}" tabindex="-1" style="display: none" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title text-center fw-bold">
                      Eliminar
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                  </div>
                  <div class="modal-body">

                    Eliminar la reservación <span class="icono"> {{item._id}} </span>?

                  </div>

                  <div class="modal-footer">
                    <button class="btn btn-secondary btn-sm bi-x-lg" type="button" data-bs-dismiss="modal">
                    </button>
                    <button *ngIf="!load_btn" class="btn btn-danger btn-sm" data-bs-dismiss="modal"
                      (click)="eliminar_reservacion(item._id)" type="button"> <i class="bi bi-trash-fill"></i> &nbsp;
                      Eliminar
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <ng-container *ngIf="item.estado == 'Reservado' || item.estado == 'Finalizado'">
              <div class="col-12 col-md-4">
                <div class="shadow rounded my-3">
                  <div class="text-center">
                    <qrcode style="width: 100vw;" [qrdata]="item._id" [width]="200" [errorCorrectionLevel]="'M'">
                    </qrcode>
                    <p class="fw-light m-0"> {{ item._id }} </p>
                  </div>
                </div>
              </div>
            </ng-container>

            <div class="col-12 col-md-8">
              <table class="table table-sm">
                <tbody>
                  <tr>
                    <td><i class="bi bi-house icono"></i> &nbsp; {{ item.empresa.nombre }}</td>
                    <td><i class="bi bi-square icono"></i> &nbsp; {{ item.cancha.nombre }}</td>
                  </tr>
                  <tr>
                    <td colspan="2"><i class="bi bi-geo-alt icono"></i> &nbsp;
                      <a href="{{ item.empresa.ubicacion }}" target="_blank"
                        style="text-decoration: none; color: #000;"> {{item.empresa.direccion}}
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2"><i class="bi bi-calendar-event icono"></i> &nbsp; {{ item.fecha | date: 'fullDate'
                      }}</td>
                  </tr>
                  <tr>
                    <td><i class="bi bi-clock icono"></i> &nbsp; {{item.hora_inicio}}:00 a {{item.hora_fin}}:00
                    </td>
                    <td><i class="bi bi-person icono"></i> &nbsp; {{ item.cliente.nombres }}</td>
                  </tr>
                  <tr>
                    <td>
                      <i class="bi bi-gear icono"></i> &nbsp;
                      <span *ngIf="item.estado == 'Ocupado'" class="badge rounded-pill text-bg-secondary">Ocupado</span>
                      <span *ngIf="item.estado == 'Reservado'" class="badge rounded-pill"
                        style="background-color: rgb(0, 192, 86);">Reservado</span>
                      <span *ngIf="item.estado == 'Finalizado'"
                        class="badge rounded-pill text-bg-danger">Finalizado</span>
                    </td>
                    <td><i class="bi  bi-cash-coin icono"></i> &nbsp; S/. {{ item.subtotal }}</td>
                  </tr>

                </tbody>
              </table>

              <p class="fw-light m-0">Creación: {{ item.createdAt | date: 'medium' }} </p>
            </div>
          </div>

        </div>
      </div>

      <div class="card-footer text-center">
        <pagination-controls (pageChange)="p = $event" [responsive]="true" previousLabel="" nextLabel="">
        </pagination-controls>
      </div>
    </ng-container>

    <ng-container *ngIf="!load_data && !exist_res">
      <div class="alert alert-danger mt-3 mb-0 text-center" role="alert">
        Aún no existen reservaciones
      </div>
    </ng-container>
  </div>
</div>