<app-nav></app-nav>

<div class="container py-4">
    <app-sidebar></app-sidebar>

    <div class="shadow rounded mt-5 p-4">
        <h3 class="text-center fw-bold" style="color: rgb(6, 170, 115)">
            Contactar a la plataforma
        </h3>

        <ng-container *ngIf="load_data">
            <div class="text-center">
                <div class="spinner-border text-secondary" style="width: 3rem; height: 3rem" role="status"></div>
                <h4 class="text-black-50"><small>Cargando...</small></h4>
            </div>
        </ng-container>

        <ng-container *ngIf="!load_data">
            <div
                style="background-image: url('../../../../assets/img/svg/wave.svg'); background-position: top; background-repeat: no-repeat;">

                <div class="container py-5">
                    <div class="card mb-3 mt-5"
                        style="max-width: 100%; box-shadow: 0.1rem 0.5rem 0.9rem rgba(0, 0, 0, 0.5); border: none;">
                        <div class="row">
                            <div class="col-12">
                                <div class="card-body">
                                    <p class="lead text-center py-2">
                                        Déjanos tu mensaje y nuestro equipo se pondrá en contacto contigo</p>
                                    <form #registroForm="ngForm" (ngSubmit)="registro(registroForm)">
                                        <div class="row px-4">
                                            <div class="col-sm-6 form-group py-2">
                                                <label for="cont-name" class="form-label">Nombres y apellidos
                                                    <span style="color: red;">*</span>
                                                </label>
                                                <input type="text" id="cont-name" class="form-control"
                                                    placeholder="John Doe" required name="cliente"
                                                    [(ngModel)]="contacto.cliente" disabled>
                                            </div>
                                            <div class="col-sm-6 form-group py-2">
                                                <label for="cont-email" class="form-label">Correo
                                                    <span style="color: red;">*</span>
                                                </label>
                                                <input type="email" id="cont-email" class="form-control"
                                                    placeholder="johndoe@example.com" required name="correo"
                                                    [(ngModel)]="contacto.correo" disabled>
                                            </div>
                                            <div class="col-sm-6 form-group py-2">
                                                <label for="cont-phone" class="form-label">Teléfono
                                                    <span style="color: red;">*</span>
                                                </label>
                                                <input type="text" id="cont-phone" class="form-control bg-0"
                                                    placeholder="000-000-000" maxlength="9" required name="telefono"
                                                    [(ngModel)]="contacto.telefono">
                                            </div>
                                            <div class="col-sm-6 form-group py-2">
                                                <label for="cont-subject" class="form-label">Asunto
                                                    <span style="color: red;">*</span>
                                                </label>
                                                <input type="text" id="cont-subject" class="form-control bg-0"
                                                    placeholder="Título del mensaje" required name="asunto"
                                                    [(ngModel)]="contacto.asunto">
                                            </div>
                                            <div class="col-12 form-group py-2">
                                                <label for="cont-message" class="form-label">Mensaje
                                                    <span style="color: red;">*</span></label>
                                                <textarea id="cont-message" class="form-control" rows="5"
                                                    placeholder="Escribe tu consulta" required name="mensaje"
                                                    [(ngModel)]="contacto.mensaje"></textarea>
                                            </div>

                                            <div class="d-grid gap-2 mt-3">
                                                <button type="submit" class="btn btn-primary"
                                                    [disabled]="registroForm.invalid">
                                                    <i class="bi bi-send-fill mx-1"></i>
                                                    Enviar
                                                </button>

                                                <!-- Button with growing spinner and text -->
                                                <button type="button" class="btn btn-secondary" *ngIf="">
                                                    <span class="spinner-grow spinner-grow-sm me-2" role="status"
                                                        aria-hidden="true" disabled></span>
                                                    Enviando...
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>


                            </div>

                            <div class="col-12">

                                <p class="fs-6 fw-light text-center pt-2" style="margin: 0;">
                                    <em>o ponte en contacto con nosotros</em>
                                </p>
            
                                <div class="mb-4" style="display: flex; justify-content: center;">
                                    <a href="tel:962557565" class="nav-link mt-2 mb-2 mx-2">
                                        <i class="bi bi-telephone-forward icon-contact"></i> &nbsp;
                                    </a>
                                    <a href="https://wa.me/51962557565" class="nav-link mt-2 mb-2 mx-2" target="_blank">
                                        <i class="bi bi-whatsapp icon-contact"></i> &nbsp;
                                    </a>
                                    <a href="mailto:reservatugrass@gmail.com" class="nav-link mt-2 mb-2 mx-2">
                                        <i class="bi bi-envelope icon-contact"></i> &nbsp;
                                    </a>
                                    <a href="https://web.facebook.com/profile.php?id=61555980620331" target="_blank"
                                        class="nav-link mt-2 mb-2 mx-2">
                                        <i class="bi bi-messenger icon-contact"></i> &nbsp;
                                    </a>
                                </div>
            
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>