<app-nav></app-nav>


<div class="container py-4">
    <app-sidebar></app-sidebar>

    <div class="shadow rounded mt-5 p-4">
        <!-- mis datos -->
        <ng-container *ngIf="load_data">
            <div class="text-center">
                <div class="spinner-border text-secondary" style="width: 3rem; height: 3rem" role="status">
                </div>
                <h4 class="text-black-50"><small>Cargando...</small></h4>
            </div>
        </ng-container>

        <ng-container *ngIf="!load_data">
            <h3 class="text-center fw-bold" style="color:rgb(6, 170, 115)">
                <a [routerLink]="['/grass/datos']"><i class="text-info bi bi-arrow-left"></i></a> &nbsp; <span
                    style="color:rgb(6, 170, 115)">
                    Actualizar datos
                </span>
            </h3>
            <form #registroForm="ngForm" (ngSubmit)="actualizar(registroForm)">
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <label for="nombre" class="form-label text-black-50">Nombre</label>
                        <input type="text" class="form-control" placeholder="Ingrese nombre del grass" name="nombre"
                            id="nombre" [(ngModel)]="user_lc.nombre" required />
                    </div>

                    <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                        <label for="direccion" class="form-label text-black-50">Dirección</label>
                        <input type="text" class="form-control" placeholder="Ingrese la dirección de su grass"
                            name="direccion" id="direccion" [(ngModel)]="user_lc.direccion" required />
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-12 col-sm-6">
                        <label for="email" class="form-label text-black-50">Correo</label>
                        <input type="email" class="form-control" placeholder="Ingrese su correo" name="email" id="email"
                            [(ngModel)]="user_lc.email" disabled />
                    </div>

                    <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                        <label for="telefono" class="form-label text-black-50">Teléfono</label>
                        <input type="text" class="form-control" placeholder="Ingrese su número" name="telefono"
                            id="telefono" [(ngModel)]="user_lc.telefono" required maxlength="9" />
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-12 col-sm-6">
                        <label for="region" class="form-label text-black-50">Región</label>
                        <select id="region" class="form-select" name="region" [(ngModel)]="user_lc.region" disabled>
                            <option value="{{user_lc.region}}" selected>{{user_lc.region}}</option>
                        </select>
                    </div>

                    <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                        <label for="provincia" class="form-label text-black-50">Provincia</label>
                        <select id="provincia" class="form-select" name="provincia" [(ngModel)]="user_lc.provincia"
                            disabled>
                            <option value="{{user_lc.provincia}}" selected>{{user_lc.provincia}}</option>
                        </select>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-12 col-sm-6">
                        <label for="distrito" class="form-label text-black-50">Distrito</label>
                        <select id="distrito" class="form-select" name="distrito" [(ngModel)]="user_lc.distrito"
                            disabled>
                            <option value="{{user_lc.distrito}}" selected>{{user_lc.distrito}}</option>
                        </select>
                    </div>

                    <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                        <label for="ubicacion" class="form-label text-black-50">Ubicación</label>
                        <input type="text" class="form-control" placeholder="Ingrese link de Google Maps"
                            name="ubicacion" id="ubicacion" [(ngModel)]="user_lc.ubicacion" required />
                    </div>
                </div>

                <div class="d-grid gap-2 mt-5">
                    <button type="submit" class="btn btn-primary" [disabled]="registroForm.invalid">
                        <i class="bi bi-check"></i> &nbsp; Actualizar
                    </button>
                    <button *ngIf="load_btn" class="btn btn-primary" type="button" disabled>
                        <span class="spinner-grow spinner-grow-sm" aria-hidden="true"></span>
                        <span role="status"> &nbsp; Actualizando...</span>
                    </button>
                </div>
            </form>
        </ng-container>
    </div>

</div>