<app-nav></app-nav>

<div class="container py-4">
    <app-sidebar></app-sidebar>

    <div class="shadow rounded mt-5 p-4">
        <h3 class="text-center fw-bold" style="color: rgb(6, 170, 115)">
            Ayuda
        </h3>

        <!-- <ng-container *ngIf="load_data">
            <div class="text-center">
                <div class="spinner-border text-secondary" style="width: 3rem; height: 3rem" role="status"></div>
                <h4 class="text-black-50"><small>Cargando...</small></h4>
            </div>
        </ng-container> -->
    </div>
</div>