/* * {
    padding: 0;
    margin: 0;
} */

section {
    position: relative;
    width: 100%;
    height: 70vh;
    background-image: linear-gradient(to right, #43E97C, #38F9D6);
    /* background: #f07a7a; */
    overflow: hidden;
}

section .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: url(../../../../assets/img/wave.png);
    background-size: 1000px 100px;
    /* background-size: 150% 100px; */
    /* animation: wave 10s linear infinite; */
}

section .wave.wave1 {
    animation: animate 10s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}

section .wave.wave2 {
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}

section .wave.wave3 {
    animation: animate 10s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
}

section .wave.wave4 {
    animation: animate2 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
}

@keyframes animate {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 1000px;
    }
}

@keyframes animate2 {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: -1000px;
    }
}


.rotate-horizontally {
    transform: scaleX(-1);
}




.button-search {
    display: flex;
    /* grid-template-columns: repeat(4, 1fr); */
    /* gap: 10px; */
}

.button-search-children {
    background-color: #249b89;
    margin-left: 10px;
    border: 4px solid #249b89;
    border-radius: 010%;
    border-radius: 30px;
    color: white;
    height: 50px;
    width: 25vh;
    /* margin: 100px 10px 10px 10px; */
}