<app-header></app-header>
<div class="container-fluid" style="padding-top: 10vh">
    <div class="text-center">

        <div class="">
            <p class="fs-2 fw-light">Somos tu puente hacia el emocionante mundo del deporte en césped</p>
            <p>Decubre, reserva y disfruta del juego en su máxima epresión con <strong>ReservaTuGrass.com</strong></p>
        </div>

        <h2>Buscar  grass</h2>

        <div class="px-2 px-sm-5">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Buscar por Nombres" aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btn-outline-info" type="button" id="button-addon2"><i class="bi bi-search"></i></button>
              </div>
        </div>

        <div class="row mt-4 px-2 px-sm-5">
            <div class="col-12 col-sm-4">
                <label for="region" class="form-label text-black-50">Región</label>
                <select id="region" class="form-select" name="region" 
                    [(ngModel)]="empresa.region" (change)="select_region()" 
                    required>
                    <option value="" selected disabled>--Seleccione--</option>
                    <option value="{{item.id}}" *ngFor="let item of regiones"> {{item.name}} </option>
                </select>
            </div>

            <div class="col-12 col-sm-4 mt-3 mt-sm-0">
                <label for="provincia" class="form-label text-black-50">Provincia</label>
                <select id="provincia" class="form-select" name="provincia" (change)="select_provincia()"
                    [(ngModel)]="empresa.provincia"
                    required>
                    <option value="" selected disabled>--Seleccione--</option>
                    <option value="{{item.id}}" *ngFor="let item of provincias"> {{item.name}} </option>
                </select>
            </div>

            <div class="col-12 col-sm-4">
                <label for="distrito" class="form-label text-black-50">Distrito</label>
                <select id="distrito" class="form-select" name="distrito" [(ngModel)]="empresa.distrito" required>
                    <option value="" selected disabled>--Seleccione--</option>
                    <option value="{{item.name}}" *ngFor="let item of distritos"> {{item.name}} </option>
                </select>
            </div>
        </div>

    </div>

    <div class="text-center">
        <h2>Grass en tu ciudad</h2>
    </div>

    <div class="row d-flex justify-content-center px-2 px-sm-5">

        <div class="col-12 pb-5 pt-2 col-sm-4">
            <div class="card shadow">
                <img src="https://static.wixstatic.com/media/a74d9b_f677ff68338f43cf87e470b0312b7cea~mv2.jpg/v1/fill/w_1000,h_563,al_c,q_85,usm_0.66_1.00_0.01/a74d9b_f677ff68338f43cf87e470b0312b7cea~mv2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title fw-bold text-center" >Card title</h4>
                    <p class="card-text fw-light">Some quick example text to build on the card title and make up the bulk of the card's
                        content.
                    </p>

                    <p><i class="bi bi-geo-alt-fill"></i> &nbsp; <a>Jr. Bracelona N° 123</a>
                    </p>
                    <p><i class="bi bi-pentagon-fill"></i> &nbsp; <a>2 canchas de futsal</a>
                    </p>
                    <p><i class="bi bi-dribbble"></i> &nbsp; <a>2 canchas de vóley</a>
                    </p>
                    <p><i class="bi bi-lightning-charge-fill"></i> &nbsp; <a>Iluminación LED</a>
                    </p>
                    <p><i class="bi bi-check-circle-fill"></i> &nbsp; <a>Techado</a>
                    </p>
                    <p><i class="bi bi-car-front-fill"></i> &nbsp; <a>Garaje</a>
                    </p>

                    <div class="text-center">
                        <a href="#" class="btn btn-warning">Reservar &nbsp; <i class="bi bi-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 pb-5 pt-2 col-sm-4">
            <div class="card shadow">
                <img src="https://static.wixstatic.com/media/a74d9b_f677ff68338f43cf87e470b0312b7cea~mv2.jpg/v1/fill/w_1000,h_563,al_c,q_85,usm_0.66_1.00_0.01/a74d9b_f677ff68338f43cf87e470b0312b7cea~mv2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title fw-bold text-center" >Card title</h4>
                    <p class="card-text fw-light">Some quick example text to build on the card title and make up the bulk of the card's
                        content.
                    </p>

                    <p><i class="bi bi-geo-alt-fill"></i> &nbsp; <a>Jr. Bracelona N° 123</a>
                    </p>
                    <p><i class="bi bi-pentagon-fill"></i> &nbsp; <a>2 canchas de futsal</a>
                    </p>
                    <p><i class="bi bi-dribbble"></i> &nbsp; <a>2 canchas de vóley</a>
                    </p>
                    <p><i class="bi bi-lightning-charge-fill"></i> &nbsp; <a>Iluminación LED</a>
                    </p>
                    <p><i class="bi bi-check-circle-fill"></i> &nbsp; <a>Techado</a>
                    </p>
                    <p><i class="bi bi-car-front-fill"></i> &nbsp; <a>Garaje</a>
                    </p>

                    <div class="text-center">
                        <a href="#" class="btn btn-warning">Reservar &nbsp; <i class="bi bi-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 pb-5 pt-2 col-sm-4">
            <div class="card shadow">
                <img src="https://static.wixstatic.com/media/a74d9b_f677ff68338f43cf87e470b0312b7cea~mv2.jpg/v1/fill/w_1000,h_563,al_c,q_85,usm_0.66_1.00_0.01/a74d9b_f677ff68338f43cf87e470b0312b7cea~mv2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title fw-bold text-center" >Card title</h4>
                    <p class="card-text fw-light">Some quick example text to build on the card title and make up the bulk of the card's
                        content.
                    </p>

                    <p><i class="bi bi-geo-alt-fill"></i> &nbsp; <a>Jr. Bracelona N° 123</a>
                    </p>
                    <p><i class="bi bi-pentagon-fill"></i> &nbsp; <a>2 canchas de futsal</a>
                    </p>
                    <p><i class="bi bi-dribbble"></i> &nbsp; <a>2 canchas de vóley</a>
                    </p>
                    <p><i class="bi bi-lightning-charge-fill"></i> &nbsp; <a>Iluminación LED</a>
                    </p>
                    <p><i class="bi bi-check-circle-fill"></i> &nbsp; <a>Techado</a>
                    </p>
                    <p><i class="bi bi-car-front-fill"></i> &nbsp; <a>Garaje</a>
                    </p>

                    <div class="text-center">
                        <a href="#" class="btn btn-warning">Reservar &nbsp; <i class="bi bi-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 pb-5 pt-2 col-sm-4">
            <div class="card shadow">
                <img src="https://static.wixstatic.com/media/a74d9b_f677ff68338f43cf87e470b0312b7cea~mv2.jpg/v1/fill/w_1000,h_563,al_c,q_85,usm_0.66_1.00_0.01/a74d9b_f677ff68338f43cf87e470b0312b7cea~mv2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title fw-bold text-center" >Card title</h4>
                    <p class="card-text fw-light">Some quick example text to build on the card title and make up the bulk of the card's
                        content.
                    </p>

                    <p><i class="bi bi-geo-alt-fill"></i> &nbsp; <a>Jr. Bracelona N° 123</a>
                    </p>
                    <p><i class="bi bi-pentagon-fill"></i> &nbsp; <a>2 canchas de futsal</a>
                    </p>
                    <p><i class="bi bi-dribbble"></i> &nbsp; <a>2 canchas de vóley</a>
                    </p>
                    <p><i class="bi bi-lightning-charge-fill"></i> &nbsp; <a>Iluminación LED</a>
                    </p>
                    <p><i class="bi bi-check-circle-fill"></i> &nbsp; <a>Techado</a>
                    </p>
                    <p><i class="bi bi-car-front-fill"></i> &nbsp; <a>Garaje</a>
                    </p>

                    <div class="text-center">
                        <a href="#" class="btn btn-warning">Reservar &nbsp; <i class="bi bi-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 pb-5 pt-2 col-sm-4">
            <div class="card shadow">
                <img src="https://static.wixstatic.com/media/a74d9b_f677ff68338f43cf87e470b0312b7cea~mv2.jpg/v1/fill/w_1000,h_563,al_c,q_85,usm_0.66_1.00_0.01/a74d9b_f677ff68338f43cf87e470b0312b7cea~mv2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title fw-bold text-center" >Card title</h4>
                    <p class="card-text fw-light">Some quick example text to build on the card title and make up the bulk of the card's
                        content.
                    </p>

                    <p><i class="bi bi-geo-alt-fill"></i> &nbsp; <a>Jr. Bracelona N° 123</a>
                    </p>
                    <p><i class="bi bi-pentagon-fill"></i> &nbsp; <a>2 canchas de futsal</a>
                    </p>
                    <p><i class="bi bi-dribbble"></i> &nbsp; <a>2 canchas de vóley</a>
                    </p>
                    <p><i class="bi bi-lightning-charge-fill"></i> &nbsp; <a>Iluminación LED</a>
                    </p>
                    <p><i class="bi bi-check-circle-fill"></i> &nbsp; <a>Techado</a>
                    </p>
                    <p><i class="bi bi-car-front-fill"></i> &nbsp; <a>Garaje</a>
                    </p>

                    <div class="text-center">
                        <a href="#" class="btn btn-warning">Reservar &nbsp; <i class="bi bi-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 pb-5 pt-2 col-sm-4">
            <div class="card shadow">
                <img src="https://static.wixstatic.com/media/a74d9b_f677ff68338f43cf87e470b0312b7cea~mv2.jpg/v1/fill/w_1000,h_563,al_c,q_85,usm_0.66_1.00_0.01/a74d9b_f677ff68338f43cf87e470b0312b7cea~mv2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title fw-bold text-center" >Card title</h4>
                    <p class="card-text fw-light">Some quick example text to build on the card title and make up the bulk of the card's
                        content.
                    </p>

                    <p><i class="bi bi-geo-alt-fill"></i> &nbsp; <a>Jr. Bracelona N° 123</a>
                    </p>
                    <p><i class="bi bi-pentagon-fill"></i> &nbsp; <a>2 canchas de futsal</a>
                    </p>
                    <p><i class="bi bi-dribbble"></i> &nbsp; <a>2 canchas de vóley</a>
                    </p>
                    <p><i class="bi bi-lightning-charge-fill"></i> &nbsp; <a>Iluminación LED</a>
                    </p>
                    <p><i class="bi bi-check-circle-fill"></i> &nbsp; <a>Techado</a>
                    </p>
                    <p><i class="bi bi-car-front-fill"></i> &nbsp; <a>Garaje</a>
                    </p>

                    <div class="text-center">
                        <a href="#" class="btn btn-warning">Reservar &nbsp; <i class="bi bi-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

<app-footer></app-footer>