<nav class="navbar navbar-expand-lg navbar-light fixed-top shadow text-center" style="
    background-color: rgba(255, 255, 255, 0.212);
    backdrop-filter: blur(10px);
  ">
  <div class="container-fluid container">
    <a class="navbar-brand" [routerLink]="['/usuario']">
      <img src="../../../../assets/img/logo-header.png" alt="logo reserva tu grass" style="width: 130px;" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link mx-2" [routerLink]="['/usuario']" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">
            <i class="bi bi-house"></i> &nbsp; Inicio
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" [routerLink]="['/usuario/nosotros']" routerLinkActive="active">
            <i class="bi bi-heart"></i> &nbsp; Nosotros
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" [routerLink]="['/usuario/contacto']" routerLinkActive="active">
            <i class="bi bi-chat-left"></i> &nbsp; Contacto
          </a>
        </li>
      </ul>

      <ng-container *ngIf="user_lc != undefined">
        <li class="d-flex dropdown justify-content-center">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">

            <img style="width: 30px; height: auto;" src="../../../../assets/img/svg/01.svg">
          </a>
          <ul class="dropdown-menu dropdown-menu-lg-end">
            <li class="dropdown-item" [routerLink]="['/usuario/perfil']" style="cursor: pointer;">
              <a class="text-black" style="text-decoration: none;"><i class="bi bi-person"></i> &nbsp; Perfil</a>
            </li>
            <li>
              <a class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
                style="cursor: pointer">
                <i class="bi bi-arrow-bar-left"></i> &nbsp; Cerrar sesión</a>
            </li>
          </ul>
        </li>
      </ng-container>
    </div>
  </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Cerrar sesión?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          <i class="bi bi-x-lg"></i>
        </button>
        <button type="button" class="btn btn-danger" (click)="logout()">
          <i class="bi bi-arrow-bar-left"></i> &nbsp; Cerrar sesión
        </button>
      </div>
    </div>
  </div>
</div>