<app-nav></app-nav>


<div class="container py-4">
    <app-sidebar></app-sidebar>

    <div class="shadow rounded mt-5 p-4">
        <h3 class="text-center fw-bold">
            <a [routerLink]="['/grass/canchas']">
                <i class="text-info bi bi-arrow-left"></i>
            </a> &nbsp; <span style="color:rgb(6, 170, 115)">
                Registrar canchas
            </span>
        </h3>

        <form #registroForm="ngForm" (ngSubmit)="registro(registroForm)">

            <div class="mb-2">
                <label for="nombre" class="form-label text-secondary">Nombre</label>
                <input type="text" class="form-control fw-light" placeholder="P. ej. Cancha 1" id="nombre" name="nombre"
                    [(ngModel)]="cancha.nombre" required>
            </div>

            <div class="mb-3">
                <label for="descripcion" class="form-label text-secondary">Descipción de la cancha</label>
                <textarea class="form-control fw-light" id="descripcion" name="descripcion"
                    [(ngModel)]="cancha.descripcion" rows="3"
                    placeholder="Ingrese una descripción (opcional)"></textarea>
            </div>


            <div class="row">
                <div class="py-2 col-12">
                    <label for="tipo" class="form-label text-secondary">Tipo de cancha</label>
                    <select class="form-select" aria-label="Default select example" id="tipo" name="tipo"
                        [(ngModel)]="cancha.tipo" (change)="select_tipo()" required>
                        <option selected disabled value="">Seleccione</option>
                        <option value="Voley">Voley</option>
                        <option value="Fútbol/Futsal">Fútbol / Futsal</option>
                        <option value="Mixto">Mixto</option>
                    </select>
                </div>

                <!--? La cancha es de tipo: voley / futsal -->
                <div class="row">
                    <ng-container *ngIf="!field_extra">
                        <div class="py-2 col-lg-3 col-md-6 col-sm-12">
                            <label for="largo" class="form-label text-secondary">Largo (metros)</label>
                            <input type="number" class="form-control fw-light ng-pristine ng-invalid ng-touched" min="1"
                                id="largo" name="largo" [(ngModel)]="cancha.largo" required placeholder="P. ej. 8.5">
                        </div>

                        <div class="py-2 col-lg-3 col-md-6 col-sm-12">
                            <label for="ancho" class="form-label text-secondary">Ancho (metros)</label>
                            <input type="number" class="form-control fw-light ng-pristine ng-invalid ng-touched" min="1"
                                id="ancho" name="ancho" [(ngModel)]="cancha.ancho" required placeholder="P. ej. 6">
                        </div>
                    </ng-container>

                    <ng-container *ngIf="!field_extra">
                        <div class="py-2 col-lg-3 col-md-6 col-sm-12">
                            <label for="precio_dia" class="form-label text-secondary">Precio de día (soles)</label>
                            <input type="number" class="form-control fw-light ng-pristine ng-invalid ng-touched" min="1"
                                id="precio_dia" name="precio_dia" [(ngModel)]="cancha.precio_dia" required
                                placeholder="30">
                        </div>
                        <div class="py-2 col-lg-3 col-md-6 col-sm-12">
                            <label for="precio_noche" class="form-label text-secondary">Precio de noche (soles)</label>
                            <input type="number" class="form-control fw-light ng-pristine ng-invalid ng-touched" min="1"
                                id="precio_noche" name="precio_noche" [(ngModel)]="cancha.precio_noche" required
                                placeholder="45">
                        </div>
                    </ng-container>
                </div>

                <!--? La cancha es de tipo: mixto  -->
                <div class="row">
                    <ng-container *ngIf="field_extra">

                        <!-- futsal -->
                        <div class="col-12 pt-3">
                            <span class="futsal fw-light">Detalles de futsal/fútbol</span>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-12 py-2">
                                <label for="largo" class="form-label text-secondary">Largo (metros)</label>
                                <input type="number" class="form-control fw-light ng-pristine ng-invalid ng-touched"
                                    min="1" id="largo" name="largo" [(ngModel)]="cancha.largo" required
                                    placeholder="P. ej. 8.5">
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-12 py-2">
                                <label for="ancho" class="form-label text-secondary">Ancho (metros)</label>
                                <input type="number" class="form-control fw-light ng-pristine ng-invalid ng-touched"
                                    min="1" id="ancho" name="ancho" [(ngModel)]="cancha.ancho" required
                                    placeholder="P. ej. 6">
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-12 py-2">
                                <label for="precio_dia" class="form-label text-secondary">
                                    Precio de día (soles)
                                </label>
                                <input type="number" class="form-control fw-light ng-pristine ng-invalid ng-touched"
                                    min="1" id="precio_dia" name="precio_dia" [(ngModel)]="cancha.precio_dia" required
                                    placeholder="30">
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-12 py-2">
                                <label for="precio_noche" class="form-label text-secondary">
                                    Precio de noche (soles)
                                </label>
                                <input type="number" class="form-control fw-light ng-pristine ng-invalid ng-touched"
                                    min="1" id="precio_noche" name="precio_noche" [(ngModel)]="cancha.precio_noche"
                                    required placeholder="45">
                            </div>
                        </div>

                        <!-- Voley -->
                        <div class="col-12 pt-5">
                            <span class="voley fw-light">Detalles de voley</span>
                        </div>

                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-12 py-2">
                                <label for="largo_voley" class="form-label text-secondary">Largo (metros)</label>
                                <input type="number" class="form-control fw-light ng-pristine ng-invalid ng-touched"
                                    min="1" id="largo_voley" name="largo_voley" [(ngModel)]="cancha.largo_voley"
                                    required placeholder="P. ej. 8">
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-12 py-2">
                                <label for="ancho_voley" class="form-label text-secondary">Ancho (metros)</label>
                                <input type="number" class="form-control fw-light ng-pristine ng-invalid ng-touched"
                                    min="1" id="ancho_voley" name="ancho_voley" [(ngModel)]="cancha.ancho_voley"
                                    required placeholder="P. ej. 5">
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-12 py-2">
                                <label for="precio_dia_voley" class="form-label text-secondary">
                                    Precio de día (soles)
                                </label>
                                <input type="number" class="form-control fw-light ng-pristine ng-invalid ng-touched"
                                    min="1" id="precio_dia_voley" name="precio_dia_voley"
                                    [(ngModel)]="cancha.precio_dia_voley" required placeholder="25">
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-12 py-2">
                                <label for="precio_noche_voley" class="form-label text-secondary">
                                    Precio de noche (soles)
                                </label>
                                <input type="number" class="form-control fw-light ng-pristine ng-invalid ng-touched"
                                    min="1" id="precio_noche_voley" name="precio_noche_voley"
                                    [(ngModel)]="cancha.precio_noche_voley" required placeholder="35">
                            </div>

                        </div>
                    </ng-container>
                </div>
            </div>

            <div class="d-grid gap-2 pt-4">
                <button *ngIf="!load_btn_crear" class="btn btn-primary" type="submit"
                    [disabled]="registroForm.invalid">Registrar</button>

                <button *ngIf="load_btn_crear" class="btn btn-primary" type="button" disabled>
                    <span class="spinner-grow spinner-grow-sm" aria-hidden="true"></span>
                    <span role="status" style="font-weight: 300;">&nbsp; Creando...</span>
                </button>
            </div>

        </form>
    </div>
</div>