<app-nav></app-nav>
<div class="container-fluid" style="padding-top: 10vh">

    <!-- Canchas -->
    <div class="row d-flex justify-content-center px-2 px-sm-5 pb-5">
        <h4 class="card-title text-center fw-bold py-4"> Canchas del {{empresa.nombre}} </h4>

        <div *ngIf="load_data">
            <!-- Custom size border spinner -->
            <div class="text-center">
                <div class="spinner-border" style="width: 3rem; height: 3rem" role="status">
                </div>
                <h5 class="text-black-50"><small>Cargando...</small></h5>
            </div>
        </div>

        <ng-container *ngIf="canchas.length >= 1 && !load_data">
            <div *ngFor="let item of canchas" class="col-md-4 pb-3 pt-2 col-sm-12">
                <div class="card shadow mx-3">
                    <div class="images-grass">
                        <ng-container *ngIf="item.galeria == undefined || item.galeria.length < 1">
                            <img class="card-img-top" class="rounded"
                                [src]="url + 'obtener_imagen_portada/' + 'defaultt'" alt="{{ item.empresa.nombre }}"
                                style="height: 25vh" />
                        </ng-container>

                        <ng-container *ngIf="item.galeria != undefined">
                            <img *ngIf="item.galeria.length >= 1" class="card-img-top" class="rounded"
                                [src]="url + 'obtener_imagen_portada/' + item.galeria[0].imagen"
                                alt="{{ item.empresa.nombre }}" style="height: 25vh" />
                        </ng-container>

                        <div class="nombre">
                            <h5 class="card-title fw-bold text-center">
                                {{ item.nombre }} &nbsp;
                            </h5>
                        </div>


                    </div>

                    <div class="card-body">

                        <div class="grass-caracteristicas">

                            <!-- Tipo -->
                            <p *ngIf="item.tipo == 'Voley'" style="color: rgb(241, 78, 143);">
                                <i class="bi bi-dribbble"></i> &nbsp;
                                <a> {{item.tipo}} </a>
                            </p>

                            <p *ngIf="item.tipo == 'Fútbol/Futsal'" style="color: rgb(0, 192, 86);">
                                <i class="bi bi-pentagon-fill"></i> &nbsp;
                                <a> {{item.tipo}} </a>
                            </p>

                            <p *ngIf="item.tipo == 'Mixto'" style="color: rgb(111, 66, 193)">
                                <i class="bi bi-shuffle"></i> &nbsp;
                                <a> {{item.tipo}} &nbsp;
                                    <small style="color: rgb(0, 192, 86);"><i class="bi bi-record-fill"></i> </small>
                                    <small class="fw-light text text-secondary"> <i> Fútbol/Futsal</i> </small>

                                    &nbsp;

                                    <small style="color: rgb(241, 78, 143);"><i class="bi bi-record-fill"></i> </small>
                                    <small class="fw-light text text-secondary"> <i> Voley</i> </small>
                                </a>
                            </p>

                            <!-- Medidas -->
                            <p *ngIf="item.tipo == 'Voley'">
                                <i class="bi bi-square" style="color: rgb(241, 78, 143);"></i> &nbsp;
                                <a> {{item.largo}}m x {{item.ancho}}m </a>
                            </p>

                            <p *ngIf="item.tipo == 'Fútbol/Futsal'">
                                <i class="bi bi-square" style="color: rgb(0, 192, 86);"></i> &nbsp;
                                <a> {{item.largo}}m x {{item.ancho}}m </a>
                            </p>

                            <p *ngIf="item.tipo == 'Mixto'">
                                <i class="bi bi-square" style="color: rgb(111, 66, 193);"></i> &nbsp;
                                <a> <small style="color: rgb(0, 192, 86);"><i class="bi bi-record-fill"></i></small>
                                    {{item.largo}}m x {{item.ancho}}m
                                </a>

                                &nbsp;

                                <a> <small style="color: rgb(241, 78, 143);"><i class="bi bi-record-fill"></i></small>
                                    {{item.largo_voley}}m x {{item.ancho_voley}}m
                                </a>
                            </p>

                            <!-- Precios -->
                            <p *ngIf="item.tipo == 'Fútbol/Futsal'">
                                <i class="bi bi-sun" style="color: rgb(0, 192, 86);"></i> &nbsp;
                                <a> S/. {{item.precio_dia}}
                                    <small class="fw-light text text-secondary"> <i>hora</i> </small>
                                </a>
                            </p>

                            <p *ngIf="item.tipo == 'Voley'">
                                <i class="bi bi-sun" style="color: rgb(241, 78, 143);"></i> &nbsp;
                                <a> S/. {{item.precio_dia}}
                                    <small class="fw-light text text-secondary"> <i>hora</i> </small>
                                </a>
                            </p>

                            <p *ngIf="item.tipo == 'Fútbol/Futsal'">
                                <i class="bi bi-moon-stars" style="color: rgb(0, 192, 86);"></i> &nbsp;
                                <a> S/. {{item.precio_noche}}
                                    <small class="fw-light text text-secondary"> <i>hora</i> </small>
                                </a>
                            </p>

                            <p *ngIf="item.tipo == 'Voley'">
                                <i class="bi bi-moon-stars" style="color: rgb(241, 78, 143);"></i> &nbsp;
                                <a> S/. {{item.precio_noche}}
                                    <small class="fw-light text text-secondary"> <i>hora</i> </small>
                                </a>
                            </p>

                            <p *ngIf="item.tipo == 'Mixto'">
                                <i class="bi bi-sun" style="color: rgb(111, 66, 193);"></i>
                                <a> &nbsp; <small style="color: rgb(0, 192, 86);"><i
                                            class="bi bi-record-fill"></i></small>
                                    S/. {{item.precio_dia}}
                                </a>

                                &nbsp;

                                <a> <small style="color: rgb(241, 78, 143);"><i class="bi bi-record-fill"></i></small>
                                    S/. {{item.precio_dia_voley}}
                                    <small class="fw-light text text-secondary"> <i>hora</i> </small>
                                </a>
                            </p>

                            <p *ngIf="item.tipo == 'Mixto'">
                                <i class="bi bi-moon-stars" style="color: rgb(111, 66, 193);"></i>
                                <a> &nbsp; <small style="color: rgb(0, 192, 86);"><i
                                            class="bi bi-record-fill"></i></small>
                                    S/. {{item.precio_dia}}
                                </a>

                                &nbsp;

                                <a> <small style="color: rgb(241, 78, 143);"><i class="bi bi-record-fill"></i></small>
                                    S/. {{item.precio_dia_voley}}
                                    <small class="fw-light text text-secondary"> <i>hora</i> </small>
                                </a>
                            </p>

                        </div>

                        <div class="text-center" style="padding: 10px 0px">
                            <ng-container *ngIf="width_view">
                                <a *ngIf="item.tipo == 'Fútbol/Futsal'" (click)="click_ver(item._id)"
                                    class="btn btn-reserve" style="width: 180px; border-radius: 30px">
                                    Ver más &nbsp; <i class="bi-greater bi-chevron-right"></i>
                                </a>
                                <a *ngIf="item.tipo == 'Voley'" (click)="click_ver(item._id)"
                                    class="btn btn-reserve-voley" style="width: 180px; border-radius: 30px">
                                    Ver más &nbsp; <i class="bi-greater bi-chevron-right"></i>
                                </a>
                                <a *ngIf="item.tipo == 'Mixto'" (click)="click_ver(item._id)"
                                    class="btn btn-reserve-mixto" style="width: 180px; border-radius: 30px">
                                    Ver más &nbsp; <i class="bi-greater bi-chevron-right"></i>
                                </a>
                            </ng-container>

                            <ng-container *ngIf="!width_view">
                                <a *ngIf="item.tipo == 'Fútbol/Futsal'" [routerLink]="['/usuario/ver-movil', item._id]"
                                    type="button" class="btn btn-reserve" (click)="click_ver_movil(item._id)"
                                    style="width: 180px; border-radius: 30px">
                                    Ver más &nbsp; <i class="bi-greater bi-chevron-right"></i>
                                </a>

                                <a *ngIf="item.tipo == 'Voley'" [routerLink]="['/usuario/ver-movil', item._id]" type="button"
                                    class="btn btn-reserve-voley" (click)="click_ver_movil(item._id)"
                                    style="width: 180px; border-radius: 30px">
                                    Ver más &nbsp; <i class="bi-greater bi-chevron-right"></i>
                                </a>
                                <a *ngIf="item.tipo == 'Mixto'" [routerLink]="['/usuario/ver-movil', item._id]" type="button"
                                    class="btn btn-reserve-mixto" (click)="click_ver_movil(item._id)"
                                    style="width: 180px; border-radius: 30px">
                                    Ver más &nbsp; <i class="bi-greater bi-chevron-right"></i>
                                </a>
                            </ng-container>

                        </div>
                    </div>
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="width_view">
            <div *ngIf="load_btn_ver">
                <!-- Custom size border spinner -->
                <div class="text-center">
                    <div class="spinner-border" style="width: 3rem; height: 3rem" role="status">
                    </div>
                    <h5 class="text-black-50"><small>Cargando...</small></h5>
                </div>
            </div>

            <div *ngIf="ver_caracteristicas && !load_btn_ver" class="">
                <div class="">
                    <div class="card card-body">
                        <h4 class="text-center fw-bold"> {{cancha_ver.nombre}} </h4>
                        <p class="fs-5 fw-light" style="text-align: justify;"> {{cancha_ver.descripcion}} </p>

                        <ng-container *ngIf="cancha_ver.galeria == undefined || cancha_ver.galeria.length < 1">
                            <div class="alert alert-danger mb-0 text-center" role="alert">
                                <span class="fs-5 fw-light">Esta cancha aún no tiene fotos!</span>
                            </div>
                        </ng-container>

                        <!-- Galería de canchas -->
                        <div *ngIf="cancha_ver.galeria != undefined && cancha_ver.galeria.length >= 1"
                            id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">

                            <div class="px-5">
                                <div class="carousel-inner">

                                    <div class="" *ngFor="let item1 of cancha_ver.galeria; let indice = index">
                                        <div class="carousel-item text-center" [ngClass]="{'active': indice == 0}"
                                            data-bs-interval="3000">
                                            <img [src]="url + 'obtener_imagen_portada/' + item1.imagen"
                                                alt="{{cancha_ver.empresa.nombre}}" class="rounded"
                                                style="height: 40vh;">
                                        </div>
                                    </div>


                                    <button class="carousel-control-prev" type="button"
                                        style="background-color: #ffffff00; border: #fff;"
                                        data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"
                                            style="background-color: #9c9c9c7a; border-radius: 5px;"></span>
                                    </button>

                                    <button class="carousel-control-next" type="button"
                                        style="background-color: #ffffff00; border: #fff;"
                                        data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"
                                            style="background-color: #9c9c9c7a; border-radius: 5px;"></span>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="py-5">
                            <div class="container mt-4">
                                <h2 class="text-center">Horario</h2>

                                <table class="table table-responsive">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th *ngFor="let dia of diasSemana">{{ dia.nombre | titlecase }}
                                                <small> <small>{{ dia.fecha | date:'shortDate' }}</small> </small>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let intervalo of intervalosHorarios; let i = index">
                                            <th scope="row">
                                                <small><small>{{ intervalo.inicio }} - {{ intervalo.fin
                                                        }}</small></small>
                                            </th>
                                            <td *ngFor="let dia of diasSemana; let j = index">
                                                <button class="btn" style="width: 100%;"
                                                    [class.btn-light]="botonesHoras[j][i].estado === 'Libre'"
                                                    [class.btn-warning]="botonesHoras[j][i].estado === 'Ocupado'"
                                                    [class.btn-info]="botonesHoras[j][i].estado === 'Reservado'"
                                                    [class.btn-secondary]="botonesHoras[j][i].estado === 'Pasado'"
                                                    [disabled]="!botonesHoras[j][i].disponible" data-bs-toggle="modal"
                                                    [attr.data-bs-target]="'#ver-' + botonesHoras[j][i].id"
                                                    (click)="select_mas_una_hora(botonesHoras[j][i].hora)">
                                                    <span class="fw-light">{{ botonesHoras[j][i].estado }}</span>
                                                </button>
                                                <!-- Puedes ajustar el contenido de cada celda según tus necesidades -->

                                                <div class="modal fade" id="ver-{{ botonesHoras[j][i].id }}"
                                                    data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                                                    style="display: none" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h4 class="modal-title text-center">
                                                                    Reservar {{ cancha_ver.nombre }}
                                                                </h4>
                                                                <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal" aria-label="Close"
                                                                    (click)="reset_horas_reserva()">
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <i class="fs-5 bi bi-calendar-event"
                                                                    style="color: rgb(255, 95, 95);"></i> &nbsp;
                                                                {{ botonesHoras[j][i].fecha | date:'fullDate':'es'}}
                                                                <br>

                                                                <i class="fs-5 bi bi-clock"
                                                                    style="color: rgb(255, 95, 250);"></i> &nbsp;

                                                                <span *ngIf="!masDeUno">
                                                                    Desde {{ horasInicio }}:00 hasta {{ horasInicio + 1
                                                                    }}:00
                                                                </span>

                                                                <span *ngIf="masDeUno">
                                                                    Desde {{ horasInicio }}:00 hasta {{ horasFinal }}:00
                                                                </span>

                                                                <div class="my-4 text-center">
                                                                    <span class="fw-light">Ingrese la cantidad de
                                                                        horas</span>
                                                                    <div class="input-group">
                                                                        <span class="input-group-text">
                                                                            Cantidad de horas
                                                                        </span>
                                                                        <input type="number" class="form-control"
                                                                            id="horasReserva" min="1" max="4"
                                                                            [(ngModel)]="horasReserva"
                                                                            (change)="select_mas_una_hora(botonesHoras[j][i].hora)">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button class="btn btn-secondary btn-sm bi-x-lg"
                                                                    type="button" data-bs-dismiss="modal"
                                                                    (click)="reset_horas_reserva()">
                                                                </button>
                                                                <button *ngIf="!load_btn" class="btn btn-primary btn-sm"
                                                                    data-bs-dismiss="modal"
                                                                    [disabled]="horasReserva < 1"
                                                                    (click)="onHoraSeleccionada(j, i)" type="button"> <i
                                                                        class="bi bi-plus-lg"></i>
                                                                    &nbsp;
                                                                    Reservar
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>

                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="canchas.length < 1 && !load_data">
            <div class="alert alert-danger mb-0 text-center" role="alert">
                <span class="fs-5 fw-light">Esta empresa aún no creó sus canchas!</span>
            </div>
        </ng-container>
    </div>


</div>

<app-foot-user></app-foot-user>